{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Практическая работа{% endblock %}

{% block content %}
<div class="container">
    <div class="requirements-list1">
        <p>Будет добавлено позже</p>
        <section class="section">
                <h2>📺 Видеоурок</h2>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/cYCi_shf_BM?si=p1DSlD1yvkmt68R5"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
        </section>
            <!-- Objective Section -->
    </div>
</div>
{% endblock %}
