{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Практическая работа: Базовые трансформации обьекта{% endblock %}

{% block content %}
<div class="container">
    <div class="requirements-list1">
        <!-- Header Section -->
        <header class="text-center mb-4">
            <h1>Практическая работа: Базовые трансформации обьекта</h1>
        </header>
    </div>

    <div class="requirements-list">
        <!-- Objective Section -->
        <div class="section">
            <h2 class="text-center mb-2">Практическая работа №1</h2>
            <h3>Цель работы</h3>
            <p class="lead"> Научиться пользоваться интерфейсом Blender, изменять параметры Location, Rotation и Scale через N-panel, а также сохранить проект через меню File.</p>
        </div>

        <!-- Task Section -->
        <div class="section">
            <h2 class="text-center mb-2">Задание</h2>
            <p>Выполните следующие действия в среде Blender:</p>
            <div class="student-table-wrapper">
                <table class="student-table blender-style-table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Действие</th>
                            <th>Метод выполнения</th>
                            <th>Изображение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Открыть <code>N-panel</code></td>
                            <td>Щелкните по кубу левой кнопкой мыши, чтобы появилась возможность его редактировать. Куб подсветится желтой рамкой. Для работы с параметрами объекта откройте боковой регион <code>N-panel</code>. Для этого
                                нажмите клавишу <strong>N</strong> на клавиатуре. Панель появится справа от 3D-вьюпорта,
                                где отображаются параметры объекта. В ней же, используя значки "руки" или "лупы" можно приближать или отдалять камеру от объекта(или с помощью колеса мыши). Зажав колесико мыши можно вертеть камерой вокруг объекта.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1/img1.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1/img1.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Переместить объект в 3D-пространстве через <code>N-panel</code></td>
                            <td>В <code>N-panel</code> откройте вкладку <strong>Item</strong>. В разделе <strong>Location</strong>
                                установите следующие значения: <strong>Location X = 2.0</strong>, <strong>Location Y = -3.0</strong>,
                                <strong>Location Z = 1.0</strong>. Эти значения переместят куб в новые координаты в 3D-пространстве.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1/img2.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1/img2.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Изменить <strong>Rotation</strong> объекта через <code>N-panel</code></td>
                            <td>В <code>N-panel</code> в разделе <strong>Rotation</strong> установите следующие углы поворота для объекта: <strong>Rotation X = 45°</strong>, <strong>Rotation Y = 30°</strong>, <strong>Rotation Z = 60°</strong>. Это изменит ориентацию куба в 3D-пространстве.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1/img3.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1/img3.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Изменить <strong>Scale</strong> объекта через <code>N-panel</code></td>
                            <td>В <code>N-panel</code> в разделе <strong>Scale</strong> установите следующие значения для масштаба объекта: <strong>Scale X = 2.0</strong>, <strong>Scale Y = 0.5</strong>, <strong>Scale Z = 1.5</strong>. Это изменит размеры куба: он станет в два раза шире по оси X, в два раза уже по оси Y и в 1.5 раза выше по оси Z.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1/img4.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1/img4.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Переключиться между режимами отображения объекта через</td>
                            <td>Для изменения режима отображения объекта используйте горячую клавишу <strong>Z</strong>. Выберите режим, который вам нужен, например, <strong>Wireframe</strong> (каркасное отображение), <strong>Solid</strong> (затенённое отображение), <strong>Material Preview</strong> (предварительный просмотр материалов) или <strong>Rendered</strong> (финальный рендер). Это поможет вам лучше видеть объект на разных этапах работы.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1/img5.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1/img5.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Сохранить проект</td>
                            <td>После внесения всех изменений в <code>N-panel</code>, для сохранения работы перейдите в меню <em> File → Save As</em>. Введите имя файла и выберите папку для сохранения. Нажмите **Save As Blender File**. Для быстрого сохранения изменений используйте></emFile> <strong>Ctrl + S</strong>.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1/img6.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1/img6.png' %}">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Report Section -->
        <div class="section">
            <p><br><br>Ожидаемый результат:</p>
            <ul>
                <li>Куб будет перемещён в заданные координаты: Location X = 2.0, Location Y = -3.0, Location Z = 1.0.</li>
                <li>Куб будет повёрнут на углы: Rotation X = 45°, Rotation Y = 30°, Rotation Z = 60°.</li>
                <li>Куб будет масштабирован по осям: Scale X = 2.0, Scale Y = 0.5, Scale Z = 1.5.</li>
                <li>Проект будет сохранён с новыми настройками.</li>
            </ul>
        </div>

        <!-- Additional Recommendations Section -->
        <div class="section">
            <h3>Вопросы для самоконтроля:</h3>
            <ol>
                <li>Что такое N-panel, и как его открыть в Blender?</li>
                <li>Какие параметры можно редактировать через N-panel для объекта в 3D-пространстве?</li>
                <li>Какие режимы отображения объекта доступны в Blender, и как переключаться между ними?</li>
                <li>Как сохранить проект в Blender, и какие есть горячие клавиши для сохранения?</li>
            </ol>
        </div>
    </div>

    <div class="requirements-list">
        <!-- Objective Section -->
        <div class="section">
            <h2 class="text-center mb-2">Практическая работа №2</h2>
            <h3>Цель работы</h3>
            <p class="lead">Научиться добавлять новые объекты в сцену, а также изменять их масштаб, поворот и положение
                с помощью горячих клавиш S, R и G.</p>
        </div>

        <!-- Task Section -->
        <div class="section">
            <h2 class="text-center mb-2">Задание</h2>
            <p>Выполните следующие действия в среде Blender:</p>

            <div class="student-table-wrapper">
                <table class="student-table blender-style-table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Действие</th>
                            <th>Метод выполнения</th>
                            <th>Изображение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Создайте новый проект</td>
                            <td>Перейдите во вкладку File - New - General чтобы создать новый проект</td>
                            <td>
                                <a href="{% static 'main/img/Pr1_1/img1.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1_1/img1.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Переместить куб с помощью клавиши <strong>G</strong></td>
                            <td>Выберите куб, нажмите <strong>G</strong> для активации инструмента перемещения. Переместите
                                куб по оси <strong>X</strong> на <strong>-3.0</strong>. <strong>Чтобы перемещать объект по
                                    одной координате после нажатия G нажмите Х. Чтобы закрепить результат кликните ЛКМ.</strong>.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1_1/img2.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1_1/img2.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Добавить новый объект (сфера)</td>
                            <td>Для добавления новой сферы нажмите <strong>Shift + A</strong>, выберите <strong>Mesh → UV Sphere</strong>. Сфера появится рядом с кубом.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1_1/img3.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1_1/img3.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Масштабировать сферу с помощью клавиши <strong>S</strong></td>
                            <td>Выберите сферу, нажмите <strong>S</strong> для активации инструмента масштабирования. Масштабируйте сферу на <strong>S, 1.5</strong>, чтобы она была на 1.5 раза больше по всем осям.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1_1/img4.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1_1/img4.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Добавить новый объект (цилиндр)</td>
                            <td>Для добавления цилиндра нажмите <strong>Shift + A</strong>, выберите <strong>Mesh → Cylinder</strong>. Цилиндр появится в сцене.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1_1/img5.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1_1/img5.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Переместить цилиндр по оси <strong>Y</strong> на 3.0 с помощью <strong>G + Y</strong></td>
                            <td>Выберите цилиндр, нажмите <strong>G + Y</strong> и переместите цилиндр по оси <strong>Y</strong> на <strong>3.0</strong>.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1_1/img6.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1_1/img6.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Повернуть куб с помощью клавиши <strong>R</strong></td>
                            <td>Выберите куб, нажмите <strong>R</strong> для активации инструмента поворота. Поворачивать обьект можно как и Scale относительно конкретной оси, так же можно после нажатия R, S или G ввести необходимые значения с клавиатуры. Поверните куб на <strong>45°</strong> вокруг оси <strong>Z</strong> с помощью <strong>R - Z - 45</strong>.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1_1/img7.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1_1/img7.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Разместить сферу выше куба с помощью <strong>G + Z</strong></td>
                            <td>Выберите сферу, нажмите <strong>G + Z</strong> и переместите её вверх на <strong>2.0</strong>.</td>
                            <td>
                                <a href="{% static 'main/img/Pr1_1/img8.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr1_1/img8.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Сохранить проект</td>
                            <td>После выполнения всех шагов сохраните проект. Перейдите в меню <strong>File → Save As</strong>, выберите имя для файла, например, <strong>Simple_Scene.blend</strong> и нажмите <strong>Save As Blender File</strong>.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Report Section -->
        <div class="section">
            <p><br>Ожидаемый результат:</p>
            <ul>
                <li>В сцене будет создано три объекта: куб, сфера и цилиндр</li>
                <li>Объекты будут масштабированы, перемещены и повернуты</li>
                <li>Проект будет сохранён</li>
            </ul>
        </div>

        <!-- Additional Recommendations Section -->
        <div class="section">
            <h3>Вопросы для самоконтроля:</h3>
            <ol>
                <li>Как создать новый проект в Blender? Какие шаги нужно выполнить?</li>
                <li>С помощью какой горячей клавиши можно переместить обьект? Как ограничить перемещение по одной оси?</li>
                <li>Каким образом можно добавить новый объект в сцену?</li>
                <li>С помощью какой горячей клавиши можно масштабировать обьект?</li>
                <li>С помощью какой горячей клавиши можно повернуть обьект?</li>
            </ol>
        </div>
    </div>

</div>
{% endblock %}
