{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Практическая работа: Модификатор Subdivision Surface{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <!-- Header Section -->
            <header class="text-center mb-4">
                <h1>Практическая работа: Модификатор Subdivision Surface</h1>
            </header>
        </div>

        <div class="requirements-list_last">
            <!-- Objective Section -->
            <div class="section">
                <h2 class="text-center mb-2">Практическая работа №17</h2>
                <h3>Цель работы</h3>
                <p class="lead">Научиться создавать объекты методом вращения профиля (Spin) и сглаживать их с помощью модификатора Subdivision Surface.</p>
            </div>

            {% if is_mobile %}
                <div class="practice-carousel-container" data-steps="11">
                    <div class="carousel-step" id="step-1" style="display: none;">
                        <h3>Создать новый проект</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr11/step1.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step1.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">File → New → General. Удалить стартовый куб (X → Delete).</p>
                    </div>
                    <div class="carousel-step" id="step-2" style="display: none;">
                        <h3>Добавить плоскость и перейти в режим редактирования</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr11/step2.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step2.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Добавить плоскость комбинацией клавиш Shift + A → Mesh → Plane. Выделить плоскость → Tab → Edit Mode, перейти в режим редактирования.</p>
                    </div>
                    <div class="carousel-step" id="step-3" style="display: none;">
                        <h3>Удалить лишние вершины</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <div>
                                <a href="{% static 'main/img/Pr11/step3.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step3.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr11/step3_1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step3_1.png' %}">
                                </a>
                            </div>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Переключитесь в режим выделения вершин (Vertex Select - иконка точки вверху или клавиша 1). Выделите три любые вершины → нажмите X → выберите Delete Vertices. Оставьте только одну вершину на сцене. Переместите вершину в центр оси координат изменив в N-panel(N) все параметры Transform на 0</p>
                    </div>
                    <div class="carousel-step" id="step-4" style="display: none;">
                        <h3>Построить профиль пешки</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <div>
                                <a href="{% static 'main/img/Pr11/step4.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step4.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr11/step4_1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step4_1.png' %}">
                                </a>
                            </div>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Выберите оставшуюся вершину → нажмите E (Extrude) → тяните мышкой вверх по оси Z и кликайте для подтверждения. Затем снова E, но немного в сторону для расширения. Постепенно стройте боковой профиль пешки: основание, туловище, голову (шарик). Форма должна быть приближённо похожа на половину разрезанной пешки.Чтобы лучше контролировать линии, переключитесь в вид спереди: нажмите 1 на цифровой клавиатуре (NumPad) или View → Viewpoint → Front. При необходимости перемещайте вершины G (Grab) для корректировки формы. 2 последние вершины обьедините с помощью New face/Egfe From Vertices, через контекстное меню</p>
                    </div>
                    <div class="carousel-step" id="step-5" style="display: none;">
                        <h3>Настроить точку вращения</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr11/step5.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step5.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Убедитесь, что основание профиля (нижняя точка) находится на оси, проходящей через центр (например, ось Y=0 или X=0). Иначе после вращения фигура будет кривой относительно центра. Выделите все вершины (A) → переместите G → X затем Y в центр осей.</p>
                    </div>
                    <div class="carousel-step" id="step-6" style="display: none;">
                        <h3>Применить Spin</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <div>
                                <a href="{% static 'main/img/Pr11/step6.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step6.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr11/step6_1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step6_1.png' %}">
                                </a>
                            </div>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">В режиме Edit Mode: выделите все вершины (A). Слева найдите панель Tool (если она скрыта, нажмите T). Выберите инструмент Spin. Настройки Spin:	- Ось вращения: Z (по умолчанию)<br>
                                    - Угол: 360° (если не полный круг — поправить в панели параметров внизу слева).<br>
                                    - Steps (шагов): 32.<br> Если иснтрумент не работает, выделите все вершины и прокрутите Spin повторно.
                                </p>
                    </div>
                    <div class="carousel-step" id="step-7" style="display: none;">
                        <h3>Удалить дублирующиеся вершины</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <div>
                                <a href="{% static 'main/img/Pr11/step7.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step7.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr11/step7_1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step7_1.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr11/step7_2.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step7_2.png' %}">
                                </a>
                            </div>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">После вращения часто появляются наложенные вершины. Чтобы их убрать: нажмите A (выделить всё) → в верхнем меню выберите Mesh → Clean Up → Merge by Distance. В настройках Merge Distance(F9) оставить значение по 0.001 - 0.01 (очень маленькое).</p>
                    </div>
                    <div class="carousel-step" id="step-8" style="display: none;">
                        <h3>Настроить нормали</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <div>
                                <a href="{% static 'main/img/Pr11/step9.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step9.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr11/step9_1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step9_1.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr11/step9_2.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step9_2.png' %}">
                                </a>
                            </div>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Иногда после применения различных инструментов нормали полигонов обьекта отображаются некорректно. В прошлых уроках вы узнали, что с помощью нормалей Blender определяет где находится Внешняя сторона обьекта, а где внутренняя. Помимо этого нормали очень важны для операций затрагивающих геометрию обьекта. На примере вы видите что будет, если применить модификатор Subdivision Surface на обьекте с неправильными нормалями:<br>
                                    Для того,чтобы проверить правильно ли определены нормали включим отображение ориентации полигонов(Face orientation) в окне Viewport: <br>
                                    Для того чтобы исправить ошибки отображения нормалей в режиме редактирования выделите все полигоны - Alt + N - Recalculate Outside(Пересчитать наружу). После этого модель будет готова к дальнейшим трансформациям</td>
                                </p>
                    </div>
                    <div class="carousel-step" id="step-9" style="display: none;">
                        <h3>Добавить модификатор Subdivision Surface</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <div>
                                <a href="{% static 'main/img/Pr11/step8.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step8.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr11/step8_1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step8_1.png' %}">
                                </a>
                            </div>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Перейдите в режим Object Mode (Tab). Убедитесь, что фигура выделена. Перейдите на панель справа (иконка гаечного ключа). Нажмите Add Modifier → Subdivision Surface.	В параметрах модификатора установите:<br>
                                    Levels Viewport — 2 или 3 (чтобы увидеть сглаживание в окне).<br>
                                    Render — 3 или 4 (для более качественного финального рендера) .
                                </p>
                    </div>
                    <div class="carousel-step" id="step-10" style="display: none;">
                        <h3>Применить сглаживание поверхности</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <p class="step_description">Правый клик по объекту → Shade Smooth.</p>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>
                    </div>
                    <div class="carousel-step" id="step-11" style="display: none;">
                        <h3>Сделать рендер</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr11/step10.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr11/step10.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Настройте удобный вид камеры. Нажмите Shift + ~ (свободное перемещение), или установите вручную через View → Viewpoint → Camera. Сделайте рендер сцены (F12).</p>
                    </div>

                    <span class="step-indicator" data-indicator></span>
                </div>
            {% else %}
            <!-- Task Section -->
                <div class="section">
                <h2 class="text-center mb-2">Задание</h2>
                <p>Выполните следующие действия в среде Blender:</p>

                <div class="student-table-wrapper">
                    <table class="student-table blender-style-table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Действие</th>
                                <th>Метод выполнения</th>
                                <th>Изображение</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Создать новый проект</td>
                                <td>File → New → General. Удалить стартовый куб (X → Delete).</td>
                                <td><a href="{% static 'main/img/Pr11/step1.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step1.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Добавить плоскость и перейти в режим редактирования</td>
                                <td>Добавить плоскость комбинацией клавиш Shift + A → Mesh → Plane. Выделить плоскость → Tab → Edit Mode, перейти в режим редактирования.</td>
                                <td><a href="{% static 'main/img/Pr11/step2.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step2.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Удалить лишние вершины</td>
                                <td>Переключитесь в режим выделения вершин (Vertex Select - иконка точки вверху или клавиша 1). Выделите три любые вершины → нажмите X → выберите Delete Vertices. Оставьте только одну вершину на сцене. Переместите вершину в центр оси координат изменив в N-panel(N) все параметры Transform на 0</td>
                                <td><a href="{% static 'main/img/Pr11/step3.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step3.png' %}">
                                    </a>
                                    <a href="{% static 'main/img/Pr11/step3_1.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step3_1.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Построить профиль пешки</td>
                                <td>Выберите оставшуюся вершину → нажмите E (Extrude) → тяните мышкой вверх по оси Z и кликайте для подтверждения. Затем снова E, но немного в сторону для расширения. Постепенно стройте боковой профиль пешки: основание, туловище, голову (шарик). Форма должна быть приближённо похожа на половину разрезанной пешки.Чтобы лучше контролировать линии, переключитесь в вид спереди: нажмите 1 на цифровой клавиатуре (NumPad) или View → Viewpoint → Front. При необходимости перемещайте вершины G (Grab) для корректировки формы. 2 последние вершины обьедините с помощью New face/Egfe From Vertices, через контекстное меню</td>
                                <td><a href="{% static 'main/img/Pr11/step4.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step4.png' %}">
                                    </a>
                                    <a href="{% static 'main/img/Pr11/step4_1.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step4_1.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Настроить точку вращения</td>
                                <td>Убедитесь, что основание профиля (нижняя точка) находится на оси, проходящей через центр (например, ось Y=0 или X=0). Иначе после вращения фигура будет кривой относительно центра. Выделите все вершины (A) → переместите G → X затем Y в центр осей.</td>
                                <td><a href="{% static 'main/img/Pr11/step5.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step5.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Применить Spin</td>
                                <td>В режиме Edit Mode: выделите все вершины (A). Слева найдите панель Tool (если она скрыта, нажмите T). Выберите инструмент Spin. Настройки Spin:	- Ось вращения: Z (по умолчанию)<br>
                                    - Угол: 360° (если не полный круг — поправить в панели параметров внизу слева).<br>
                                    - Steps (шагов): 32.<br> Если иснтрумент не работает, выделите все вершины и прокрутите Spin повторно.
                                </td>
                                <td><a href="{% static 'main/img/Pr11/step6.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step6.png' %}">
                                    </a>
                                    <a href="{% static 'main/img/Pr11/step6_1.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step6_1.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Удалить дублирующиеся вершины</td>
                                <td>После вращения часто появляются наложенные вершины. Чтобы их убрать: нажмите A (выделить всё) → в верхнем меню выберите Mesh → Clean Up → Merge by Distance. В настройках Merge Distance(F9) оставить значение по 0.001 - 0.01 (очень маленькое).</td>
                                <td><a href="{% static 'main/img/Pr11/step7.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step7.png' %}">
                                    </a>
                                    <a href="{% static 'main/img/Pr11/step7_1.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step7_1.png' %}">
                                    </a>
                                    <a href="{% static 'main/img/Pr11/step7_2.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step7_2.png' %}">
                                    </a>
                                </td>
                            </tr>
                             <tr>
                                <td>8</td>
                                <td>Настроить нормали</td>
                                <td>Иногда после применения различных инструментов нормали полигонов обьекта отображаются некорректно. В прошлых уроках вы узнали, что с помощью нормалей Blender определяет где находится Внешняя сторона обьекта, а где внутренняя. Помимо этого нормали очень важны для операций затрагивающих геометрию обьекта. На примере вы видите что будет, если применить модификатор Subdivision Surface на обьекте с неправильными нормалями:<br>
                                    Для того,чтобы проверить правильно ли определены нормали включим отображение ориентации полигонов(Face orientation) в окне Viewport: <br>
                                    Для того чтобы исправить ошибки отображения нормалей в режиме редактирования выделите все полигоны - Alt + N - Recalculate Outside(Пересчитать наружу). После этого модель будет готова к дальнейшим трансформациям</td>
                                <td><a href="{% static 'main/img/Pr11/step9.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step9.png' %}">
                                    </a>
                                    <a href="{% static 'main/img/Pr11/step9_1.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step9_1.png' %}">
                                    </a>
                                    <a href="{% static 'main/img/Pr11/step9_2.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step9_2.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Добавить модификатор Subdivision Surface</td>
                                <td>Перейдите в режим Object Mode (Tab). Убедитесь, что фигура выделена. Перейдите на панель справа (иконка гаечного ключа). Нажмите Add Modifier → Subdivision Surface.	В параметрах модификатора установите:<br>
                                    Levels Viewport — 2 или 3 (чтобы увидеть сглаживание в окне).<br>
                                    Render — 3 или 4 (для более качественного финального рендера) .
                                </td>
                                <td><a href="{% static 'main/img/Pr11/step8.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step8.png' %}">
                                    </a>
                                    <a href="{% static 'main/img/Pr11/step8_1.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step8_1.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Применить сглаживание поверхности</td>
                                <td>Правый клик по объекту → Shade Smooth.</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Сделать рендер</td>
                                <td>Настройте удобный вид камеры. Нажмите Shift + ~ (свободное перемещение), или установите вручную через View → Viewpoint → Camera. Сделайте рендер сцены (F12).</td>
                                <td><a href="{% static 'main/img/Pr11/step10.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11/step10.png' %}">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            {% endif %}

            <!-- Report Section -->
            <div class="section">
                <p><br><br>Ожидаемый результат:</p>
                <ul>
                    <li>Создана 3D-модель пешки с плавными линиями.</li>
                    <li>Правильная геометрия объекта без наложений и ошибок.</li>
                    <li>Аккуратный финальный рендер.</li>
                </ul>
            </div>

            <!-- Additional Recommendations Section -->
            <div class="section">
                <h3>Вопросы для самоконтроля:</h3>
                <ol>
                    <li>Для чего применяется Spin?</li>
                    <li>Как работает модификатор Subdivision Surface?</li>
                    <li>Как удалить лишние вершины после применения Spin?</li>
                </ol>
            </div>
        </div>

        <!--
        <div class="requirements-list">
            <div class="section">
                <h2 class="text-center mb-2">Практическая работа №18</h2>
                <h3>Цель работы</h3>
                <p class="lead">Научиться моделировать органические формы на основе куба с использованием Extrude, масштабирования, пропорционального редактирования и модификатора Subdivision Surface.</p>
            </div>

            <div class="section">
                <h2 class="text-center mb-2">Задание</h2>
                <p>Выполните следующие действия в среде Blender:</p>

                <div class="student-table-wrapper">
                    <table class="student-table blender-style-table">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Действие</th>
                                <th>Метод выполнения</th>
                                <th>Изображение</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Создать новый проект</td>
                                <td>File → New → General.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step1.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step1.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Добавить модификатор Subdivision Surface (1 уровень)</td>
                                <td>В режиме Object Mode выделить куб и добавить модификатор: → Modifiers (иконка ключа) → Add Modifier → Subdivision Surface. В поле Levels установить 2.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step2.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step2.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Применить модификатор</td>
                                <td>В списке модификаторов нажать кнопку Apply (применить Subdivision Surface). Сетка меша станет плотнее.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step3.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step3.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Добавить новый Subdivision Surface для сглаживания</td>
                                <td>Снова Add Modifier → Subdivision Surface. Установить Levels Viewport: 1-2. Этот модификатор не применять. Он добавит сглаживания но не повлияет на сетку</td>
                                <td><a href="{% static 'main/img/Pr11.1/step4.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step4.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Перейти в Edit Mode</td>
                                <td>Перейти в режим редактирования: Tab → Edit Mode.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step5.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step5.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Активировать пропорциональное редактирование</td>
                                <td>В Edit Mode нажать O или включить иконку пропорционального редактирования.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step6.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step6.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Создать форму головы</td>
                                <td>Включим Toogle X-ray, чтобы видеть сквозь обьекты и переключимся на вид спереди(1). Выделить верхние вершины обьекта → G → Z → поднять вверх, используя колесо мыши для контроля влияния.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step7.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step7.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Создать форму головы</td>
                                <td>Выделить центральные горизонтальные вершины головы, мастабировать их с помощью S по координате Х. По координате Х сделайте ее чуть шире, а по У наоборот уже, чтобы мордочка получилась "приплюснутой"</td>
                                <td><a href="{% static 'main/img/Pr11.1/step8.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step8.png' %}">
                                    </a>
                                    <a href="{% static 'main/img/Pr11.1/step8_1.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step8_1.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Добавить грани</td>
                                <td>С помощью инструмента LoopCut сделаем несколько петель. Ctrl + R - разрезать верхнюю часть головы на 3 части(добавлять количество разрезов колесиком мыши или клавишей +)</td>
                                <td><a href="{% static 'main/img/Pr11.1/step9.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step9.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Создать ушки</td>
                                <td>Выделить верхние боковые вершины → E → Extrude вверх → S → сузить ушки. Повторить при необходимости.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step10.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step10.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Финальная корректировка мордочки</td>
                                <td>Перемещать вершины (G) для уточнения формы головы и мордочки лисички.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step11.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step11.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Применить Shade Smooth</td>
                                <td>Object Mode → правый клик → Shade Smooth.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step12.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step12.png' %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Сделать рендер</td>
                                <td>Настроить камеру → F12 для рендера.</td>
                                <td><a href="{% static 'main/img/Pr11.1/step13.png' %}" data-lightbox="gallery">
                                        <img class="image3" src="{% static 'main/img/Pr11.1/step13.png' %}">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="section">
                <p><br><br>Ожидаемый результат:</p>
                <ul>
                    <li>Создана мультяшная голова лисички с заострёнными ушками и пухлыми щёчками.</li>
                    <li>Корректная сетка после применения базового Subdivision Surface.</li>
                    <li>Гладкая визуализация с активным Subdivision Surface.</li>
                </ul>
            </div>

            <div class="section">
                <h3>Вопросы для самоконтроля:</h3>
                <ol>
                    <li>Почему нужно применять первый Subdivision Surface перед началом моделирования?</li>
                    <li>Как влияет пропорциональное редактирование на форму объекта?</li>
                    <li>В чем разница между применением Subdivision Surface и его использованием для сглаживания?</li>
                </ol>
            </div>
        </div>Section -->
    </div>

{% endblock %}
