{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Практическая работа{% endblock %}

{% block content %}
    <div class="container">

        <div class="requirements-list1">
            <header class="text-center mb-4">
                <h1>Практическая работа: Использование модификаторов для моделирования обьектов. Boolean</h1>
            </header>
        </div>

        <div class="requirements-list_last">
            <div class="section">
                <h2 class="text-center mb-2">Практическая работа №16</h2>
                <h3>Цель работы</h3>
                <p class="lead">Создать модель шестерёнки с зубцами и центральным отверстием, используя примитивы и модификатор Boolean.</p>
                <h2 class="text-center mb-2">Задание</h2>
                <p>Выполните следующие действия в Blender:</p>
            </div>

            {% if is_mobile %}
                <div class="practice-carousel-container" data-steps="10">
                    <div class="carousel-step" id="step-1" style="display: none;">
                        <h3>Создать новый проект и удалить куб</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr9.2/step1.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step1.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Откройте Blender → File → New → General. Выделите стартовый куб (ЛКМ) → нажмите X → Delete для удаления.</p>
                    </div>
                    <div class="carousel-step" id="step-2" style="display: none;">
                        <h3>Добавить основной цилиндр для тела шестерёнки</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr9.2/step2.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step2.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Shift + A → Mesh → Cylinder. В появившемся меню (F9) установите параметры: Vertices: 64, Radius: 1, Depth: 0.4. Это основа шестерёнки.</p>
                    </div>
                    <div class="carousel-step" id="step-3" style="display: none;">
                        <h3>Добавить вспомогательный цилиндр для зубца</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr9.2/step3.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step3.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Shift + A → Mesh → Cylinder. Установите параметры: Vertices: 32, Radius: 0.2, Depth: 0.6. Это заготовка для одного зубца.</p>
                    </div>
                    <div class="carousel-step" id="step-4" style="display: none;">
                        <h3>Разместить вспомогательный цилиндр у края</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr9.2/step4.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step4.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Выделите маленький цилиндр. Нажмите G → X (или Y) и переместите его к краю основного цилиндра, чтобы он частично заходил внутрь. Сделайте это в режиме вида сверху(7)</p>
                    </div>
                    <div class="carousel-step" id="step-5" style="display: none;">
                        <h3>Создать копии цилиндра по кругу</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <div>
                                <a href="{% static 'main/img/Pr9.2/step5.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step5.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr9.2/step5_1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step5_2.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr9.2/step5_2.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step5_2.png' %}">
                                </a>
                            </div>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description"><ol>
                                    <li>Для того, чтобы все маленькие цилидры находились на одном расстоянии от центра основы мы можем воспользоваться PivotPoint. Так как 3D курсор по умолчанию находится в центре(Shift+C чтобы переместить) мы можем сменить пивот на 3D курсор чтобы все вращения проходили вокруг него. Смените пивот на 3D курсор в верхней части Viewport.</li>
                                    <li>Выделите маленький цилиндр (ЛКМ), который будет использоваться как зубец шестерёнки. Дублируйте его с помощью Shift + D</li>
                                    <li>Поверните новый цилиндр с помощью R на некотором расстоянии от первого "зубца". В левом нижнем углу откроется понель Duplicate object, в этой панели в графе Angle укажите значение 33</li>
                                    <li>Чобы не повторять все действия вручную вы можете повторить послеследнее сохраненное действие "Rotate" с помощью комбинации клавиш - SHIFT + R. Заполните окружность "зубцами" и откорректируйте их количество или расположение при необходимости.</li>
                                </ol>
                            </p>
                    </div>
                    <div class="carousel-step" id="step-6" style="display: none;">
                        <h3>Объединить все вспомогательные цилиндры</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <div>
                                <a href="{% static 'main/img/Pr9.2/step6.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step6.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr9.2/step6_1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step6_1.png' %}">
                                </a>
                            </div>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Для экономии времени обьединим все маленькие цилиндры в один обьект. Для этого воспользуемся инструментом Join. Выделите все вспомогательные цилиндры → Ctrl + J для объединения в один объект(или правой кнопкой мыши по обьектам - Join).</p>
                    </div>
                    <div class="carousel-step" id="step-7" style="display: none;">
                        <h3>Добавить модификатор Boolean на основной цилиндр</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr9.2/step7.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step7.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Выделите основной цилиндр → Modifier Properties → Add Modifier → Boolean → Operation: Difference → выберите объединённые цилиндры в поле Object.</p>
                    </div>
                    <div class="carousel-step" id="step-8" style="display: none;">
                        <h3>Применить модификатор и удалить цилиндры</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr9.2/step8.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step8.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Нажмите Apply в модификаторе. Затем выделите вспомогательные цилиндры → X → Delete.</p>
                    </div>
                    <div class="carousel-step" id="step-9" style="display: none;">
                        <h3>Создать отверстие в центре</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <a href="{% static 'main/img/Pr9.2/step9.png' %}" data-lightbox="gallery">
                                <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step9.png' %}">
                            </a>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">Shift + A → Mesh → Cylinder. Настроить Radius. Разместить в центре. Добавить новый модификатор Boolean → Difference → применить, удалить цилиндр.</p>
                    </div>
                    <div class="carousel-step" id="step-10" style="display: none;">
                        <h3>Сгладить шестерёнку. Рендер.</h3>
                        <div class="carousel-controls">
                            <button onclick="prevStep()"> ❮ </button>
                            <div>
                                <a href="{% static 'main/img/Pr9.2/step10.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step10.png' %}">
                                </a>
                                <br>
                                <a href="{% static 'main/img/Pr9.2/step11.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr9.2/step11.png' %}">
                                </a>
                            </div>
                            <button onclick="nextStep()"> ❯ </button>
                        </div>

                        <p class="step_description">ПКМ → Shade Smooth для сглаживания. Настроить камеру и свет, нажать F12 и сохранить рендер</p>
                    </div>

                    <span class="step-indicator" data-indicator></span>
                </div>
            {% else %}
                <div class="student-table-wrapper">
                <table class="student-table blender-style-table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Действие</th>
                            <th>Метод выполнения (инструкционная карта)</th>
                            <th>Изображение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Создать новый проект и удалить куб</td>
                            <td>Откройте Blender → File → New → General. Выделите стартовый куб (ЛКМ) → нажмите X → Delete для удаления.</td>
                            <td><a href="{% static 'main/img/Pr9.2/step1.png' %}" data-lightbox="gallery">
                                <img class="image3" src="{% static 'main/img/Pr9.2/step1.png' %}">
                            </a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Добавить основной цилиндр для тела шестерёнки</td>
                            <td>Shift + A → Mesh → Cylinder. В появившемся меню (F9) установите параметры: Vertices: 64, Radius: 1, Depth: 0.4. Это основа шестерёнки.</td>
                            <td><a href="{% static 'main/img/Pr9.2/step2.png' %}" data-lightbox="gallery">
                                <img class="image3" src="{% static 'main/img/Pr9.2/step2.png' %}">
                            </a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Добавить вспомогательный цилиндр для зубца</td>
                            <td>Shift + A → Mesh → Cylinder. Установите параметры: Vertices: 32, Radius: 0.2, Depth: 0.6. Это заготовка для одного зубца.</td>
                            <td><a href="{% static 'main/img/Pr9.2/step3.png' %}" data-lightbox="gallery">
                                <img class="image3" src="{% static 'main/img/Pr9.2/step3.png' %}">
                            </a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Разместить вспомогательный цилиндр у края</td>
                            <td>Выделите маленький цилиндр. Нажмите G → X (или Y) и переместите его к краю основного цилиндра, чтобы он частично заходил внутрь. Сделайте это в режиме вида сверху(7)</td>
                            <td><a href="{% static 'main/img/Pr9.2/step4.png' %}" data-lightbox="gallery">
                                <img class="image3" src="{% static 'main/img/Pr9.2/step4.png' %}">
                            </a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Создать копии цилиндра по кругу</td>
                            <td><ol>
                                    <li>Для того, чтобы все маленькие цилидры находились на одном расстоянии от центра основы мы можем воспользоваться PivotPoint. Так как 3D курсор по умолчанию находится в центре(Shift+C чтобы переместить) мы можем сменить пивот на 3D курсор чтобы все вращения проходили вокруг него. Смените пивот на 3D курсор в верхней части Viewport.</li>
                                    <li>Выделите маленький цилиндр (ЛКМ), который будет использоваться как зубец шестерёнки. Дублируйте его с помощью Shift + D</li>
                                    <li>Поверните новый цилиндр с помощью R на некотором расстоянии от первого "зубца". В левом нижнем углу откроется понель Duplicate object, в этой панели в графе Angle укажите значение 33</li>
                                    <li>Чобы не повторять все действия вручную вы можете повторить послеследнее сохраненное действие "Rotate" с помощью комбинации клавиш - SHIFT + R. Заполните окружность "зубцами" и откорректируйте их количество или расположение при необходимости.</li>
                                </ol>
                            </td>
                            <td><a href="{% static 'main/img/Pr9.2/step5.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr9.2/step5.png' %}">
                                </a>
                                <a href="{% static 'main/img/Pr9.2/step5_1.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr9.2/step5_1.png' %}">
                                </a>
                                <a href="{% static 'main/img/Pr9.2/step5_2.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr9.2/step5_2.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Объединить все вспомогательные цилиндры</td>
                            <td>Для экономии времени обьединим все маленькие цилиндры в один обьект. Для этого воспользуемся инструментом Join. Выделите все вспомогательные цилиндры → Ctrl + J для объединения в один объект(или правой кнопкой мыши по обьектам - Join).</td>
                            <td><a href="{% static 'main/img/Pr9.2/step6.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr9.2/step6.png' %}">
                                </a>
                                <a href="{% static 'main/img/Pr9.2/step6_1.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr9.2/step6_1.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Добавить модификатор Boolean на основной цилиндр</td>
                            <td>Выделите основной цилиндр → Modifier Properties → Add Modifier → Boolean → Operation: Difference → выберите объединённые цилиндры в поле Object.</td>
                            <td><a href="{% static 'main/img/Pr9.2/step7.png' %}" data-lightbox="gallery">
                                <img class="image3" src="{% static 'main/img/Pr9.2/step7.png' %}">
                            </a></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Применить модификатор и удалить цилиндры</td>
                            <td>Нажмите Apply в модификаторе. Затем выделите вспомогательные цилиндры → X → Delete.</td>
                            <td><a href="{% static 'main/img/Pr9.2/step8.png' %}" data-lightbox="gallery">
                                <img class="image3" src="{% static 'main/img/Pr9.2/step8.png' %}">
                            </a></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Создать отверстие в центре</td>
                            <td>Shift + A → Mesh → Cylinder. Настроить Radius. Разместить в центре. Добавить новый модификатор Boolean → Difference → применить, удалить цилиндр.</td>
                            <td><a href="{% static 'main/img/Pr9.2/step9.png' %}" data-lightbox="gallery">
                                <img class="image3" src="{% static 'main/img/Pr9.2/step9.png' %}">
                            </a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Сгладить шестерёнку. Рендер.</td>
                            <td>ПКМ → Shade Smooth для сглаживания. Настроить камеру и свет, нажать F12 и сохранить рендер</td>
                            <td><a href="{% static 'main/img/Pr9.2/step10.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr9.2/step10.png' %}">
                                </a>
                                <a href="{% static 'main/img/Pr9.2/step11.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/Pr9.2/step11.png' %}">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="section">
                <p><br><br>Ожидаемый результат:</p>
                <ul>
                    <li>Модель шестерёнки с зубцами, аккуратными скосами и центральным отверстием.</li>
                    <li>Освоение техники создания сложных объектов с использованием модификатора Boolean.</li>
                </ul>
            </div>

            <div class="section">
                <h3>Вопросы для самопроверки:</h3>
                <ol>
                    <li>Какой режим модификатора Boolean использовался?</li>
                    <li>Каким образом можно обьединить обьекты в один? В каких случах это может пригодится?</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
