{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Трансформации, структура меша и параметры объекта.{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <!-- Header Section -->
            <header class="text-center mb-4">
                <h1 class="text-center mb-2">Трансформации, структура меша и параметры объекта.</h1>
            </header>
        </div>
        <div class="requirements-list_last">
            <!-- Objective Section -->
            <div class="section">
                <h2 class="text-center mb-2">Практическая работа №6</h2>
                <h3>Цель работы</h3>
                <p class="lead">Научиться переходить в режим редактирования (Edit Mode), понимать строение меша и взаимодействовать с его базовыми компонентами: вершинами, рёбрами и полигонами.</p>
            </div>
            {% if is_mobile %}
                <div class="practice-carousel-container" data-steps="7">
                    <div class="carousel-step" id="step-1" style="display: none;">
                        <h3>Вход в режим редактирования (Edit Mode)</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/Pr5_1/img1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr5_1/img1.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Откройте Blender и создайте новый проект. Стандартный куб уже выделен. Для перехода в режим редактирования:<br>
                                    - Нажмите клавишу <code>Tab</code>. <br>
                                    - Или в левом верхнем углу, где указано <strong>Object Mode</strong>, переключитесь на <strong>Edit Mode</strong>. Куб изменит вид, отображая теперь свои базовые элементы (вершины, рёбра, грани).</td>
                                    </p>
                    </div>
                    <div class="carousel-step" id="step-2" style="display: none;">
                        <h3>Изучение структуры меша (Mesh)</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/Pr5_1/img2.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr5_1/img2.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Убедитесь, что вы в режиме редактирования (<strong>Edit Mode</strong>). Сверху слева найдите три иконки выбора режимов выделения:<br>
                                    - <strong>Vertex Select</strong> (выделение вершин) <br>
                                    - <strong>Edge Select</strong> (выделение рёбер) <br>
                                    - <strong>Face Select</strong> (выделение граней). <br>
                                    Переключитесь между режимами выделения и выделите элементы меша - вершины, ребра, грани.</td>
                                    </p>
                    </div>
                    <div class="carousel-step" id="step-3" style="display: none;">
                        <h3>Работа с вершинами (Vertices)</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/Pr5_1/img3.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr5_1/img3.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Перейдите в режим выделения вершин (<strong>Vertex Select</strong>).<br>
                                    - Кликните ЛКМ на одной из вершин куба, чтобы выделить её. <br>
                                    - Переместите вершину с помощью клавиши <strong>G</strong> (grab). Закрепите позицию, нажав ЛКМ. <br>
                                    - Чтобы выделить несколько вершин, зажмите клавишу <strong>Shift</strong> и кликайте ЛКМ. <br>
                                    - Масштабируйте выбранные вершины с помощью клавиши <strong>S</strong>.</td>
                                    </p>
                    </div>
                    <div class="carousel-step" id="step-4" style="display: none;">
                        <h3>Работа с рёбрами (Edges)</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/Pr5_1/img4.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr5_1/img4.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Перейдите в режим выделения рёбер (<strong>Edge Select</strong>).<br>
                                    - Выделите одно ребро, кликнув по нему. <br>
                                    - Поверните его, нажав клавишу <strong>R</strong> и двигая мышью. <br>
                                    - Выделите несколько рёбер, удерживая <strong>Shift</strong>, и попробуйте переместить их с помощью клавиши <strong>G</strong>.</td>
                                    </p>
                    </div>
                    <div class="carousel-step" id="step-5" style="display: none;">
                        <h3>Работа с гранями (Faces)</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/Pr5_1/img5.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/Pr5_1/img5.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Перейдите в режим выделения граней (<strong>Face Select</strong>).<br>
                                    - Выделите любую грань куба. <br>
                                    - Экструдируйте грань наружу: Нажмите клавишу <strong>E</strong> (extrude) и переместите курсор в нужное направление. <br>
                                    - Попробуйте удалить одну из граней: Выделите грань → нажмите <strong>X</strong> → выберите <strong>Faces</strong>.</td>
                                    </p>
                    </div>
                    <div class="carousel-step" id="step-6" style="display: none;">
                        <h3>Просмотр параметров объекта</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <p class="step_description">В режиме редактирования откройте боковую панель <strong>N-panel</strong> с помощью клавиши <strong>N</strong>. Перейдите на вкладку <strong>Item</strong>. Здесь можно вручную изменять параметры <strong>Location</strong>, <strong>Rotation</strong>, и <strong>Scale</strong> для выбранных элементов меша или всего объекта целиком. Попробуйте изменить значения для <strong>Location X</strong>, <strong>Y</strong>, <strong>Z</strong> и наблюдайте изменения.</p>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-step" id="step-7" style="display: none;">
                        <h3>Сохранение результатов</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <p class="step_description">Сохраните результат через меню Файл, отрендерите изображение настроив камеру и нажав F12.</p>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                    </div>


                    <span class="step-indicator" data-indicator></span>
                </div>
            {% else %}
            <!-- Task Section -->
                <div class="section">
                    <h2 class="text-center mb-2">Задание</h2>
                    <p>Выполните следующие действия в среде Blender:</p>

                    <div class="student-table-wrapper">
                        <table class="student-table blender-style-table">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Действие</th>
                                    <th>Метод выполнения</th>
                                    <th>Изображение</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Вход в режим редактирования (Edit Mode)</td>
                                    <td>Откройте Blender и создайте новый проект. Стандартный куб уже выделен. Для перехода в режим редактирования:<br>
                                    - Нажмите клавишу <code>Tab</code>. <br>
                                    - Или в левом верхнем углу, где указано <strong>Object Mode</strong>, переключитесь на <strong>Edit Mode</strong>. Куб изменит вид, отображая теперь свои базовые элементы (вершины, рёбра, грани).</td>
                                    <td><a href="{% static 'main/img/Pr5_1/img1.png' %}" data-lightbox="gallery">
                                            <img class="image3" src="{% static 'main/img/Pr5_1/img1.png' %}">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Изучение структуры меша (Mesh)</td>
                                    <td>Убедитесь, что вы в режиме редактирования (<strong>Edit Mode</strong>). Сверху слева найдите три иконки выбора режимов выделения:<br>
                                    - <strong>Vertex Select</strong> (выделение вершин) <br>
                                    - <strong>Edge Select</strong> (выделение рёбер) <br>
                                    - <strong>Face Select</strong> (выделение граней). <br>
                                    Переключитесь между режимами выделения и выделите элементы меша - вершины, ребра, грани.</td>
                                    <td><a href="{% static 'main/img/Pr5_1/img2.png' %}" data-lightbox="gallery">
                                            <img class="image3" src="{% static 'main/img/Pr5_1/img2.png' %}">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Работа с вершинами (Vertices)</td>
                                    <td>Перейдите в режим выделения вершин (<strong>Vertex Select</strong>).<br>
                                    - Кликните ЛКМ на одной из вершин куба, чтобы выделить её. <br>
                                    - Переместите вершину с помощью клавиши <strong>G</strong> (grab). Закрепите позицию, нажав ЛКМ. <br>
                                    - Чтобы выделить несколько вершин, зажмите клавишу <strong>Shift</strong> и кликайте ЛКМ. <br>
                                    - Масштабируйте выбранные вершины с помощью клавиши <strong>S</strong>.</td>
                                    <td><a href="{% static 'main/img/Pr5_1/img3.png' %}" data-lightbox="gallery">
                                            <img class="image3" src="{% static 'main/img/Pr5_1/img3.png' %}">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Работа с рёбрами (Edges)</td>
                                    <td>Перейдите в режим выделения рёбер (<strong>Edge Select</strong>).<br>
                                    - Выделите одно ребро, кликнув по нему. <br>
                                    - Поверните его, нажав клавишу <strong>R</strong> и двигая мышью. <br>
                                    - Выделите несколько рёбер, удерживая <strong>Shift</strong>, и попробуйте переместить их с помощью клавиши <strong>G</strong>.</td>
                                    <td><a href="{% static 'main/img/Pr5_1/img4.png' %}" data-lightbox="gallery">
                                            <img class="image3" src="{% static 'main/img/Pr5_1/img4.png' %}">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Работа с гранями (Faces)</td>
                                    <td>Перейдите в режим выделения граней (<strong>Face Select</strong>).<br>
                                    - Выделите любую грань куба. <br>
                                    - Экструдируйте грань наружу: Нажмите клавишу <strong>E</strong> (extrude) и переместите курсор в нужное направление. <br>
                                    - Попробуйте удалить одну из граней: Выделите грань → нажмите <strong>X</strong> → выберите <strong>Faces</strong>.</td>
                                    <td><a href="{% static 'main/img/Pr5_1/img5.png' %}" data-lightbox="gallery">
                                            <img class="image3" src="{% static 'main/img/Pr5_1/img5.png' %}">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Просмотр параметров объекта</td>
                                    <td>В режиме редактирования откройте боковую панель <strong>N-panel</strong> с помощью клавиши <strong>N</strong>. Перейдите на вкладку <strong>Item</strong>. Здесь можно вручную изменять параметры <strong>Location</strong>, <strong>Rotation</strong>, и <strong>Scale</strong> для выбранных элементов меша или всего объекта целиком. Попробуйте изменить значения для <strong>Location X</strong>, <strong>Y</strong>, <strong>Z</strong> и наблюдайте изменения.</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Сохранение результатов</td>
                                    <td>Сохраните результат через меню Файл, отрендерите изображение настроив камеру и нажав F12.</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            <!-- Report Section -->
            <div class="section">
                <p><br><br>Ожидаемый результат:</p>
                <ul>
                    <li>Переключение между различными режимами выделения (вершины, рёбра, грани).</li>
                    <li>Перемещение, масштабирование и вращение элементов меша.</li>
                    <li>Введение изменений в параметры объекта через боковую панель.</li>
                </ul>
            </div>

            <!-- Additional Recommendations Section -->
            <div class="section">
                <h3>Вопросы для самоконтроля:</h3>
                <ol>
                    <li>Что такое меш в Blender, и какие основные элементы он включает?</li>
                    <li>Как переключаться между различными режимами выделения (вершины, рёбра, грани)?</li>
                    <li>Как работать с вершинами, рёбрами и гранями в режиме редактирования?</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
