{% extends 'main/layout.html' %}
{% load static %}

{% if user.is_superuser %}
{% else %}
{% endif %}

{% block title %}Контент главной страницы{% endblock %}

{% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
{% endif %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Введение в 3D Моделирование на Blender</h1>
        </div>


        <p>Добро пожаловать на наш курс по 3D моделированию на Blender! Здесь вы найдете все необходимое для освоения одной из самых популярных программ для создания 3D графики. Blender — это мощный и многофункциональный инструмент, который используется как профессиональными художниками, так и любителями для создания анимаций, игр, визуализации и многого другого.</p>
        <img class="image1" src="{% static 'main/img/blender1.jpg' %}">
        <br>
        <h3>Почему именно Blender?</h3>
        <p>Blender является бесплатным и открытым программным обеспечением, что делает его доступным для всех желающих. С его помощью можно создавать высококачественные 3D модели, анимации и визуализации, что делает его идеальным выбором для начинающих и профессионалов. Программа поддерживает широкий спектр функций, включая:</p>

        <p><strong>Моделирование:</strong> создание трехмерных объектов с использованием различных техник и инструментов.<br>
        <strong>Анимация:</strong> создание и оживление ваших моделей с помощью ключевых кадров и риггинга.
        <br><strong>Текстурирование и Шейдинг:</strong> добавление деталей и реалистичности с помощью текстур и материалов.
        <br><strong>Рендеринг:</strong> финальная визуализация ваших проектов с использованием мощных рендер-движков.
        </p>

        <p>Наша цель — сделать обучение увлекательным и доступным, независимо от вашего уровня подготовки. Мы верим, что каждый может стать мастером 3D моделирования, и готовы помочь вам на этом пути!</p>
        <strong>Присоединяйтесь к нам!</strong>
        <div class="text-center">
            <br><a href="{% url 'lesson1' %}" class="btn btn-warning">К первому уроку</a>
        </div>
    </div>
{% endblock %}
