{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}

{% if user.is_superuser %}
{% else %}
{% endif %}

{% block title %}{% trans "Контент главной страницы" %}{% endblock %}

{% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
{% endif %}

{% block content %}
    <div class="container" style="margin-bottom: 100px;">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">{% trans "Введение в 3D Моделирование на Blender" %}</h1>
        </div>


        <p>{% blocktrans %}Добро пожаловать на наш курс по 3D моделированию на Blender! Здесь вы найдете все необходимое для освоения одной из самых популярных программ для создания 3D графики. Blender — это мощный и многофункциональный инструмент, который используется как профессиональными художниками, так и любителями для создания анимаций, игр, визуализации и многого другого.{% endblocktrans %}</p>
        <img class="image1" src="{% static 'main/img/3dforge_main.png' %}">
        <br>
        <h3>{% trans "Почему именно Blender?" %}</h3>
        <p>{% blocktrans %}Blender является бесплатным и открытым программным обеспечением, что делает его доступным для всех желающих. С его помощью можно создавать высококачественные 3D модели, анимации и визуализации, что делает его идеальным выбором для начинающих и профессионалов. Программа поддерживает широкий спектр функций, включая:{% endblocktrans %}</p>

        <p><strong>{% trans "Моделирование:" %}</strong> {% trans "создание трехмерных объектов с использованием различных техник и инструментов." %}<br>
        <strong>{% trans "Анимация:" %}</strong> {% trans "создание и оживление ваших моделей с помощью ключевых кадров и риггинга." %}
        <br><strong>{% trans "Текстурирование и Шейдинг:" %}</strong> {% trans "добавление деталей и реалистичности с помощью текстур и материалов." %}
        <br><strong>{% trans "Рендеринг:" %}</strong> {% trans "финальная визуализация ваших проектов с использованием мощных рендер-движков." %}
        </p>

        <p>{% blocktrans %}Наша цель — сделать обучение увлекательным и доступным, независимо от вашего уровня подготовки. Мы верим, что каждый может стать мастером 3D моделирования, и готовы помочь вам на этом пути!{% endblocktrans %}</p>
        <strong>{% trans "Присоединяйтесь к нам!" %}</strong>
        <div class="text-center">
            <br><a href="{% url 'lesson1' %}" class="btn btn-warning">{% trans "К первому уроку" %}</a>
        </div>
    </div>
{% endblock %}
