{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Контент первого урока{% endblock %}

{% block content %}
       <div class="container">
            <div class="requirements-list1">
                <h1 class="text-center mb-2">Инструмент Subdivide в Blender</h1>
            </div>

            <div class="requirements-list_last" id="8" data-type="lesson">
                <p>В 3D-моделировании уровень детализации объекта напрямую зависит от количества полигонов, из которых он состоит.
                    Инструмент Subdivide в Blender позволяет быстро и эффективно увеличить количество полигонов, разделяя существующие
                    элементы сетки (меша) на более мелкие. Этот инструмент обязательно пригодится  при создании сглаженных или высокодетализированных объектов.
                </p>

                <a href="{% static 'main/img/subdivide.gif' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/subdivide.gif' %}">
                </a>

                <div class="section">
                    <h2 class="text-center mb-2"><br><br>Что такое Subdivide?</h2>
                    <p><strong>Subdivide (разделение)</strong> — это операция, при которой Blender делит выбранные элементы сетки (грани или ребра) на более мелкие части. В результате появляется большее количество вершин, ребер и граней, что дает возможность более точно управлять формой объекта. Чтобы активировать Subdivide необходимо в режиме редактирования(Tab) выбрать грань или ребро, затем нажать по нему ПКМ(правой кнопкой мыши) и в открывшемся меню выбрать Subdivide - вы увидите как выбранная грань или ребро разделятся.</p>
                    <a href="{% static 'main/img/subdivide1.gif' %}" data-lightbox="gallery">
                        <img class="image1" src="{% static 'main/img/subdivide1.gif' %}">
                    </a>
                </div>

                <h3>Как работает Subdivide?</h3>
                <p>Когда пользователь применяет Subdivide, Blender:</p>
                <ul>
                    <li>Делит выбранные ребра пополам (или на большее количество сегментов).</li>
                    <li>Создает новые вершины в точках деления.</li>
                    <li>Формирует дополнительные грани, если были выбраны плоскости.</li>
                </ul>
                <p><br>Простое подразделение становится доступным в режиме редактирования при клике правой кнопкой мыши.</p>

                <a href="{% static 'main/img/subdivide1.png' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/subdivide1.png' %}">
                </a>

                <h3><br>Как использовать Subdivide в Blender?</h3>
                <p>Шаги:</p>
                <ol>
                    <li>Выделите объект и перейдите в режим редактирования (Tab → Edit Mode).</li>
                    <li>Выделите нужные ребра или грани.</li>
                    <li>Нажмите правой кнопкой мыши (ПКМ) и выберите пункт Subdivide.</li>
                    <li>В левом нижнем углу (или через панель F9) появятся параметры Subdivide.</li>
                </ol>

                <a href="{% static 'main/img/subdivide.png' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/subdivide.png' %}">
                </a>
                <h3><br>Основные параметры Subdivide:</h3>
                <div class="student-table-wrapper">
                        <table class="student-table blender-style-table">
                            <thead>
                                <tr>
                                    <th>Параметр</th>
                                    <th>Описание</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Number of Cuts</td>
                                    <td>Количество разрезов между вершинами. Чем больше, тем выше детализация.</td>
                                </tr>
                                <tr>
                                    <td>Smoothness</td>
                                    <td>Насколько плавно будет изгибаться новая геометрия. Полезно при моделировании органических форм.</td>
                                </tr>
                                <tr>
                                    <td>Fractal</td>
                                    <td>Добавляет случайное смещение новым вершинам, имитируя неровности.</td>
                                </tr>
                                <tr>
                                    <td>Along Normal</td>
                                    <td>Смещает вершины вдоль нормалей, усиливая фрактальные искажения.</td>
                                </tr>
                                <tr>
                                    <td>Quad Corner Type</td>
                                    <td>Определяет, как обрабатываются углы четырехугольников (Straight Cut, Inner Vert, Path, Fan).</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div class="section">
                    <h2 class="text-center mb-2"><br><br> Subdivide и пропорционное редактирование (Proportional Editing)</h2>
                    <p>После использования инструмента Subdivide сетка объекта становится более плотной, с множеством новых вершин.
                        Такое количество деталей делает возможным более точное и плавное редактирование формы, в этом нам поможет инструмент Proportional
                        Editing (Пропорциональное редактирование).</p>
                    <h3><br>Что такое Proportional Editing?</h3>
                    <p><strong>Proportional Editing</strong> — это режим, в котором редактирование одной вершины влияет на соседние вершины,
                        в зависимости от заданного радиуса влияния. Он позволяет создавать плавные переходы и деформировать
                        большие участки модели с естественным изгибом.</p>
                    <a href="{% static 'main/img/propedit.gif' %}" data-lightbox="gallery">
                        <img class="image1" src="{% static 'main/img/propedit.gif' %}">
                    </a>
                    <h3>Как включить Proportional Editing?</h3>
                    <ol>
                        <li>Перейдите в Edit Mode (Tab).</li>
                        <li>Включите Proportional Editing: Нажмите клавишу <code>O</code>(английская буква "<code>O</code>"); Либо кликните на значок пропорционального редактирования в верхней части 3D Viewport (в виде круга).</li>
                        <li>Выделите вершину (или несколько).</li>
                        <li>Используйте инструмент перемещения (G), масштабирования (S) или вращения (R).</li>
                        <li>Прокрутите колёсико мыши, чтобы изменить радиус влияния (чем больше — тем шире область деформации).</li>
                    </ol>
                    <a href="{% static 'main/img/propedit1.png' %}" data-lightbox="gallery">
                        <img class="image1" src="{% static 'main/img/propedit1.png' %}">
                    </a>
                </div>

                <p> </p>
                <div class="text-center">
                    <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                    <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
                </div>
            </div>
       </div>
{% endblock %}