{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Выделение объектов и работа с 3D-курсором в сцене Blender{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Выделение объектов и работа с 3D-курсором в сцене Blender</h1>
        </div>
        <div class="requirements-list" data-type="lesson">
            <p>Blender предоставляет пользователям мощные инструменты для точного взаимодействия с 3D-объектами,
                а также удобные средства позиционирования — такие как 3D-курсор. Умение правильно выделять элементы сцены
                и управлять 3D-курcором является одной из базовых и важнейших составляющих в освоении Blender.</p>
            <h2 class="text-center mb-2"><br>Выделение объектов</h2>
            <p><strong>Выделение объектов</strong> — это основной способ взаимодействия со сценой. Любая трансформация (перемещение,
                масштабирование, вращение), применение модификаторов, работа в различных режимах начинается с выбора
                нужного объекта.</p>

            <h4> Основные способы выделения:</h4>
            {% if is_mobile %}
                <div class="practice-carousel-container" data-steps="5">
                    <div class="carousel-step" id="step-1">
                        <h3>ЛКМ (левая кнопка мыши)</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/lesson2tab1_1.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/lesson2tab1_1.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Выбор объекта одним щелчком.В Blender для выделения объектов по умолчанию используется левая кнопка мыши. Когда пользователь щёлкает по объекту, тот подсвечивается оранжевой рамкой, а также становится активным — его центр отображается в виде маленькой точки, а гизмо трансформации позволяет выполнять дальнейшие действия. Если ранее был выделен другой объект, он автоматически теряет выделение.</p>
                    </div>
                    <div class="carousel-step" id="step-2">
                        <h3>Shift + ЛКМ</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/lesson2tab1_2.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/lesson2tab1_2.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Для выделения нескольких объектов одновременно используется комбинация Shift и левой кнопки мыши. Это позволяет поочерёдно добавлять объекты к текущей группе выделения или, наоборот, снимать выделение с ранее выделенного объекта.</p>
                    </div>
                    <div class="carousel-step" id="step-3">
                        <h3>Выделение рамкой (Box Select)</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/lesson2tab1_3.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/lesson2tab1_3.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Если нужно выделить сразу несколько объектов в области сцены, удобно использовать рамочное выделение, которое вызывается клавишей B. После её нажатия появляется рамка, и, протянув её по сцене, можно захватить все объекты, попавшие внутрь.</p>
                    </div>
                    <div class="carousel-step" id="step-4">
                        <h3>Круговое выделение (Circle Select)</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/lesson2tab1_4.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/lesson2tab1_4.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Для более точного управления подойдёт круговое выделение, активируемое клавишей C. На экране появляется круг, радиус которого регулируется колесиком мыши. Пользователь может выделять объекты, просто кликая по ним внутри круга. Выход из режима кругового выделения происходит нажатием правой кнопки мыши или клавиши Esc.</p>
                    </div>
                    <div class="carousel-step" id="step-5">
                        <h3>Лассо-выделение (Lasso Select)</h3>
                        <div>
                            <div class="carousel-controls">
                                <button onclick="prevStep()"> ❮ </button>
                                <a href="{% static 'main/img/lesson2tab1_5.png' %}" data-lightbox="gallery">
                                    <img class="image_pr_mobile" src="{% static 'main/img/lesson2tab1_5.png' %}">
                                </a>
                                <button onclick="nextStep()"> ❯ </button>
                            </div>
                        </div>
                        <p class="step_description">Также в Blender предусмотрено лассо-выделение. Оно активируется комбинацией Ctrl и правой кнопки мыши. В этом режиме пользователь может нарисовать произвольную фигуру, ограничивающую область выделения.</p>
                    </div>

                    <span class="step-indicator" data-indicator></span>
                </div>
            {% else %}
                <div class="student-table-wrapper">
                <table class="student-table blender-style-table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Способ выделения</th>
                            <th>Описание</th>
                            <th>Изображение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ЛКМ (левая кнопка мыши)</td>
                            <td>Выбор объекта одним щелчком.В Blender для выделения объектов по умолчанию используется левая кнопка мыши. Когда пользователь щёлкает по объекту, тот подсвечивается оранжевой рамкой, а также становится активным — его центр отображается в виде маленькой точки, а гизмо трансформации позволяет выполнять дальнейшие действия. Если ранее был выделен другой объект, он автоматически теряет выделение.</td>
                            <td><a href="{% static 'main/img/lesson2tab1_1.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/lesson2tab1_1.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Shift + ЛКМ</td>
                            <td>Для выделения нескольких объектов одновременно используется комбинация Shift и левой кнопки мыши. Это позволяет поочерёдно добавлять объекты к текущей группе выделения или, наоборот, снимать выделение с ранее выделенного объекта.</td>
                            <td><a href="{% static 'main/img/lesson2tab1_2.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/lesson2tab1_2.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Выделение рамкой (Box Select)</td>
                            <td>Если нужно выделить сразу несколько объектов в области сцены, удобно использовать рамочное выделение, которое вызывается клавишей B. После её нажатия появляется рамка, и, протянув её по сцене, можно захватить все объекты, попавшие внутрь.</td>
                            <td><a href="{% static 'main/img/lesson2tab1_3.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/lesson2tab1_3.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Круговое выделение (Circle Select)</td>
                            <td>Для более точного управления подойдёт круговое выделение, активируемое клавишей C. На экране появляется круг, радиус которого регулируется колесиком мыши. Пользователь может выделять объекты, просто кликая по ним внутри круга. Выход из режима кругового выделения происходит нажатием правой кнопки мыши или клавиши Esc.</td>
                            <td><a href="{% static 'main/img/lesson2tab1_4.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/lesson2tab1_4.png' %}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Лассо-выделение (Lasso Select)</td>
                            <td>Также в Blender предусмотрено лассо-выделение. Оно активируется комбинацией Ctrl и правой кнопки мыши. В этом режиме пользователь может нарисовать произвольную фигуру, ограничивающую область выделения.</td>
                            <td><a href="{% static 'main/img/lesson2tab1_5.png' %}" data-lightbox="gallery">
                                    <img class="image3" src="{% static 'main/img/lesson2tab1_5.png' %}">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}

            <br>

            <p>После выделения объект становится активным, и именно с ним будут производиться все действия по умолчанию.
                Активный объект отображается жёлтой рамкой (если выделено несколько).</p>

            <p>Объекты можно выделять и в редакторе Outliner | Аутлайнер. Здесь же их можно переименовывать, скрывать видимость, сортировать по коллекциям и др.</p>
            <a href="{% static 'main/img/outliner.gif' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/outliner.gif' %}">
            </a>
        </div>

        <div class="requirements-list" data-type="lesson">
            <h2 class="text-center mb-2">Работа с 3D-курcором</h2>
            <p><strong> 3D-курсор</strong> — это вспомогательный инструмент, предназначенный для точного позиционирования объектов, начала трансформаций, добавления новых объектов и установки точки вращения.
            <br> По умолчанию, при добавлении нового объекта в сцену, он появляется в позиции 3D-курсора.</p>
            <a href="{% static 'main/img/3dcursor.gif' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/3dcursor.gif' %}">
            </a>
            <p><strong>Как установить 3D-курсор:</strong></p>
            <ul>
                <li>Shift + Правая кнопка мыши (ПКМ) — установить курсор в любое место сцены.</li>
                <li>В последних версиях Blender используется Shift + ЛКМ.</li>
                <li>очно задать координаты можно во вкладке View → 3D Cursor (в N-панели).</li>
            </ul>
            <p><strong>Назначение 3D-курсора:</strong></p>
            <ol>
                <li>Добавление нового объекта в сцену (он появится в позиции курсора).</li>
                <li>Поворот объектов вокруг курсора, если выбран режим поворота 3D Cursor в верхней панели Pivot Point.</li>
                <li>Упрощение точного выравнивания и позиционирования объектов.</li>
                <li>Быстрое смещение объектов на позицию курсора с помощью команды Snap → Selection to Cursor (Shift + S).</li>
            </ol>
        </div>

        <div class="requirements-list" data-type="lesson">
            <h2 class="text-center mb-2">Gizmo трансформации</h2>
            <a href="{% static 'main/img/gizmo.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/gizmo.jpg' %}">
            </a>
            <p>После выделения объекта в сцене Blender автоматически отображает гизмо трансформации — это визуальные стрелки, дуги и квадраты, расположенные на объекте, которые позволяют:</p>
            <ol>
                <li>Перемещать (Move) — стрелки направлены по осям X, Y, Z.</li>
                <li>Вращать (Rotate) — дуги вокруг объекта позволяют вращать по выбранной оси.</li>
                <li>Масштабировать (Scale) объект — кубики на концах направлений позволяют увеличивать или уменьшать объект.</li>
            </ol>
            <p>! Если по умолчанию Гизмо не появляется при выделении обьекта вы можете включить вручную эту настройку в правом верхнем углу окна 3D Viewport:</p>
            <a href="{% static 'main/img/gizmoblender.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/gizmoblender.png' %}">
            </a>
        </div>

        <div class="requirements-list_last" id="2" data-type="lesson">
            <div class="section">
                <h2 class="text-center mb-2">Центры вращения (Pivot Point)</h2>
                <p>Вся работа в Blender основана на трёхмерной прямоугольной (декартовой) системе координат. Эта система позволяет точно определять положение, направление и размер объектов в пространстве.
                    Система координат включает три оси: X, Y и Z. Каждая ось определяет направление в пространстве. Ось X направлена слева направо (или справа налево), ось Y — вперёд и назад, ось Z — вверх и вниз. Положительное направление осей обычно отмечается стрелками: красная стрелка для оси X, зелёная для оси Y, синяя для оси Z.
                    Точка пересечения всех трёх осей называется началом координат или просто "нулевой точкой" (0, 0, 0). Именно от неё отсчитываются все положения объектов в сцене. Если объект имеет координаты (2, 0, 0), это означает, что он смещён на 2 единицы вдоль оси X от начала координат, а по осям Y и Z находится на нуле.
                    Кроме глобальной системы координат, в Blender существует локальная система координат объекта. Она ориентирована относительно самого объекта, а не сцены. Когда объект вращается, его локальные оси также поворачиваются вместе с ним. Это важно при точных трансформациях: например, перемещение вдоль локальной оси объекта позволяет контролировать движения независимо от ориентации в глобальной сцене.</p>
                <a href="{% static 'main/img/coordinate.gif' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/coordinate.gif' %}">
                </a>
                <p><br>Центр вращения определяет, вокруг какой точки вращается объект:</p>
                <ul>
                    <li><strong>Active Element:</strong> вращение вокруг активного элемента (последнего выбранного
                        объекта).
                    </li>
                    <li><strong>Median Point:</strong> вращение вокруг среднего значения координат всех выделенных
                        объектов.
                    </li>
                    <li><strong>3D Cursor:</strong> вращение вокруг положения 3D курсора.</li>
                    <li><strong>Individual Origins:</strong> каждый объект вращается вокруг своей локальной оси.</li>
                    <li><strong>Bounding Box Center:</strong> вращение вокруг центра ограничивающего прямоугольника
                        выделенных объектов.
                    </li>
                </ul>
                <p>Чтобы сменить Pivot Point:</p>
                <ol>
                    <li>Выберите объекты.</li>
                    <li>В верхнем меню 3D Viewport найдите меню <em>Pivot Point</em> (или нажмите <code>.</code> (точка)
                        на клавиатуре).
                    </li>
                    <li>Выберите нужный режим.</li>
                </ol>
                <a href="{% static 'main/img/pivot.gif' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/pivot.gif' %}">
                </a>
            </div>

            <div class="text-center">
                <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
            </div>
        </div>
    </div>
{% endblock %}