{% extends 'main/layout.html' %}
{% load static %}


{% block title %}Контент первого урока{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Использование модификаторов для создания сложных форм.</h1>
        </div>

        <div class="requirements-list" id="6" data-type="lesson">
            <p>
                Модификаторы в Blender — это мощные инструменты, которые позволяют изменять и обрабатывать 3D-модели без
                необходимости изменять исходную геометрию. Они работают как неразрушающие фильтры, которые можно применять к
                объектам, чтобы добиться различных эффектов и преобразований. Модификаторы позволяют значительно упростить
                процесс моделирования, добавляя гибкость и контроль над формами и структурами объектов. В этом уроке наглядно
                рассмотрим следующие модификатоы: Subdivision Surface, Mirror, Array, Boolean, Solidify, Decimate и Bevel
            </p>
            <a href="{% static 'main/img/modifier.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/modifier.png' %}">
            </a>
            <p>
                Модификаторы в Blender можно классифицировать по нескольким категориям, в зависимости от их воздействия на
                объект и его геометрию:
            </p>
            <ul>
                <li><strong>Edit (Редактирование)</strong> – Эти модификаторы воздействуют не на саму геометрию объекта, а
                    на другие данные, такие как группы вершин. Они позволяют изменять определенные аспекты структуры
                    объекта, не изменяя его форму напрямую.
                </li>
                <li><strong>Generate (Генерация)</strong> – Конструктивные или деструктивные модификаторы, которые влияют на
                    всю топологию объекта. Они могут изменять внешний вид объекта или добавлять новую геометрию, внося
                    значительные изменения в его форму.
                </li>
                <li><strong>Deform (Деформация)</strong> – Эти модификаторы изменяют только форму объекта, не затрагивая его
                    топологию. Они используются для манипуляций с геометрией, таких как сгибания, растяжения или другие виды
                    деформаций, но не добавляют или не удаляют вершины или ребра.
                </li>
                <li><strong>Physics (Симуляция)</strong> – Модификаторы, отвечающие за физические симуляции. Они обычно
                    добавляются автоматически при включении системы частиц или физической симуляции. Эти модификаторы
                    определяют, как данные для симуляции будут извлекаться и используются для управления поведением объекта
                    в контексте физических процессов.
                </li>
            </ul>


            <h3 class="text-center mb-2">Основные типы модификаторов и их функции</h3>

            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cYCi_shf_BM?si=p1DSlD1yvkmt68R5"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <h4>Модификатор Subdivision Surface</h4>
            <p>
                Модификатор Subdivision Surface (или Subsurf) используется для сглаживания объектов путем добавления
                дополнительных полигонов. Он повышает детализацию модели, улучшая её внешний вид за счет увеличения числа
                многоугольников на поверхности объекта. Следует применять при создании сложных и органических форм, таких
                как персонажи, животные или любые другие объекты, где важна плавность и естественность линий. Модификатор
                делит каждый полигон на несколько меньших, что делает поверхность более гладкой. В процессе работы можно
                контролировать уровень детализации, увеличивая или уменьшая количество делений, что позволяет оптимизировать
                производительность и добиться необходимого уровня точности. Subdivision Surface не изменяет основную
                топологию объекта, а лишь улучшает визуальное качество поверхности, создавая более сложные и реалистичные
                формы.
            </p>
            <p>Чтобы применить модификатор Subdivision Surface в Blender, выполните следующие шаги:</p>
            <ol>
                <li><strong>Выберите объект:</strong> Убедитесь, что объект, к которому вы хотите применить модификатор,
                    выбран в 3D-вьюпорте.
                </li>
                <li><strong>Откройте панель модификаторов:</strong> Перейдите в панель модификаторов. Для этого выберите
                    вкладку <code>Modifiers</code> в правой панели (значок гаечного ключа).
                </li>
                <li><strong>Добавьте модификатор:</strong>
                    <ul>
                        <li>Нажмите кнопку <code>Add Modifier</code>.</li>
                        <li>В выпадающем списке выберите <code>Subdivision Surface</code>.</li>
                    </ul>
                </li>
                <li><strong>Настройка модификатора:</strong>
                    <ul>
                        <li>В параметрах модификатора вы увидите два основных поля для настройки: <code>Levels</code> и
                            <code>Render</code>.
                            <ul>
                                <li><strong>Levels</strong> — определяет количество подразделений для отображения объекта в
                                    3D-вьюпорте. Чем больше значение, тем более детализированным будет объект в процессе
                                    работы.
                                </li>
                                <li><strong>Render</strong> — контролирует количество подразделений при рендеринге. Обычно
                                    этот параметр устанавливается на более высокое значение для повышения качества
                                    изображения при финальном рендере.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><strong>Применение модификатора:</strong>
                    <ul>
                        <li>Когда вы довольны результатом, вы можете применить модификатор. Для этого нажмите кнопку <em>Apply</em>
                            в панели модификатора. Это зафиксирует изменения и сделает их частью объекта, что может быть
                            полезно для дальнейшего редактирования или экспорта.
                        </li>
                    </ul>
                </li>
                <li><strong>Дополнительные настройки:</strong>
                    <ul>
                        <li>Для получения более гладкой поверхности вы можете добавить <em>Smooth Shading</em>: выберите
                            объект, перейдите в <strong>Object → Shade Smooth</strong> в верхнем меню или нажмите правую
                            кнопку мыши и выберите <em>Shade Smooth</em>.
                        </li>
                    </ul>
                </li>
            </ol>
            <p>Примечание: Не забудьте, что добавление слишком высокого уровня подразделений может существенно увеличить
                количество полигонов и замедлить работу Blender, особенно при сложных моделях. Для персонажей оптимальное
                количество полигонов может варьироваться от 5,000 до 20,000 полигонов для одного персонажа в зависимости от
                уровня детализации. Для объектов окружения (например, зданий или природных объектов) количество полигонов
                может быть в пределах от 500 до 10,000 полигонов в зависимости от размера и сложности объекта.</p>
        </div>

        <div class="requirements-list">
            <h4>Модификатор Mirror</h4>
            <p>
                Модификатор Mirror в Blender используется для зеркального отображения объекта по одной или нескольким осям,
                что значительно упрощает и ускоряет процесс моделирования симметричных объектов. Он позволяет работать
                только с одной половиной объекта, автоматически создавая зеркальное отражение второй половины при создании
                персонажей, транспортных средств, архитектурных элементов и других объектов с симметричной геометрией.
                Модификатор обеспечивает идеальную симметрию между частями объекта.
            </p>
            <ol>
                <li>Выберите объект, который хотите отразить.</li>
                <li>Перейдите в панель модификаторов и добавьте <code>Mirror Modifier</code></li>
                <li>В настройках модификатора выберите ось или оси, по которым хотите отразить объект (X, Y, Z).</li>
                <li>При необходимости настройте дополнительные параметры, такие как ограничение на зеркалирование, или
                    установите ось зеркалирования относительно определённой плоскости.
                </li>
                <li>По завершению зеркалирования вы можете превратить вторую половину обьекта в редактиуемый и подтвердить
                    все изменения нажав в панели модификатора "Apply" (действие необратимо)
                </li>
            </ol>
        </div>

        <div class="requirements-list">
            <h4>Модификатор Array</h4>
            <p>
                Модификатор Array в Blender позволяет создавать несколько копий объекта, расположенных в определённом
                порядке, что значительно ускоряет процесс моделирования повторяющихся элементов. С его помощью можно
                дублировать объекты в линейном, круговом или более сложном порядке, а также настраивать количество копий,
                расстояние между ними и направление. Этот модификатор полезен для создания повторяющихся элементов, таких
                как решетки, заборы или ряды колонн.
            </p>
            <ol>
                <li>Выберите объект, который хотите повторить.</li>
                <li>Перейдите в панель модификаторов и добавьте <code>Array Modifier</code>.</li>
                <li>В настройках модификатора укажите количество копий, расстояние между ними и направление. Можно выбрать
                    один из трёх типов: линейный (по одной оси), круговой (по окружности) или по форме.
                </li>
                <li>Для создания более сложных форм можно использовать дополнительные опции, такие как смещение или вращение
                    копий, а также комбинировать модификатор Array с другими модификаторами.
                </li>
            </ol>
        </div>

        <div class="requirements-list">
            <h4>Модификатор Boolean</h4>
            <p>
                Модификатор Boolean в Blender выполняет булевы операции между двумя объектами, позволяя создавать сложные
                геометрические формы. С помощью этого модификатора можно выполнять три основные операции: объединение
                (Union), вычитание (Difference) и пересечение (Intersection). Эти операции позволяют комбинировать или
                изменять объекты, превращая простые формы в более сложные. Например, с помощью операции вычитания можно
                вырезать отверстие в объекте, а операция объединения позволит соединить два объекта в один. Модификатор
                Boolean подходит для создания деталей, архитектурных элементов, механизмов или любых других объектов,
                требующих точных и сложных геометрических изменений.
            </p>
            <ol>
                <li>Выберите основной объект.</li>
                <li>Перейдите в панель свойств (справа) и выберите вкладку Modifiers (иконка гаечного ключа). Нажмите на
                    кнопку Add Modifier и выберите из выпадающего списка <code>Boolean Modifier</code>.
                </li>
                <li> Выберите тип операции:
                    <ul>
                        <li><code>Union</code> (Объединение): Объединяет два объекта в один.</li>
                        <li><code>Difference</code> (Вычитание): Вырезает форму второго объекта из первого.</li>
                        <li><code>Intersection</code> (Пересечение): Оставляет только пересекающуюся часть двух объектов.
                        </li>
                    </ul>
                </li>
                <li>В поле Object выберите второй объект, который будет использоваться для операции. Этот объект будет
                    влиять на основной объект в зависимости от выбранной операции (например, для вычитания — это объект, из
                    которого будет вырезано отверстие).
                </li>
                <li>После настройки модификатора, вы увидите результат операции в 3D-вьюпорте. Если вас устраивает
                    результат, вы можете применить модификатор нажав Apply в настройках модификатора
                </li>
            </ol>
        </div>

        <div class="requirements-list">
            <h4>Модификатор Solidify</h4>
            <p>
                Модификатор Solidify в Blender используется для добавления толщины объектам с плоской геометрией. Позволяет
                превратить двухмерные объекты, такие как плоские поверхности или оболочки, в полноценные трехмерные
                структуры. Модификатор полезен, например, при моделировании стен, мебели или других объектов, которые
                требуют толщины, но при этом изначально состоят только из плоских поверхностей.
            </p>
            <ul>
                <li>Выберите объект.</li>
                <li>Перейдите в панель свойств (иконка гаечного ключа) и выберите вкладку Modifiers. Нажмите Add Modifier и
                    выберите из выпадающего списка <code>Solidify Modifier</code>.
                </li>
                <li>В поле <code>Thickness</code> установите значение, которое определяет, насколько будет добавлена
                    толщина. Чем больше значение, тем толще будет объект. Вы можете использовать как положительное, так и
                    отрицательное значение толщины. Отрицательное значение будет направлять толщину внутрь объекта.
                </li>
                <li>В параметре <code>Offset</code> можно настроить, как толщина будет распределяться относительно
                    исходной поверхности. Значение 0 добавляет толщину по обеим сторонам объекта. Значения 1 или -1
                    заставляют толщину добавляться только с одной стороны.
                </li>
                <li>Нажмите Apply в настройках модификатора, чтобы применить изменения.</li>
            </ul>
        </div>

        <div class="requirements-list">
            <h4>Модификатор Decimate</h4>
            <p>
                Модификатор Decimate уменьшает количество полигонов в объекте, сохраняя его форму. Он позволяет упростить
                геометрию модели, что снижает её сложность и повышает производительность. Модификатор работает путем
                удаления или упрощения некоторых элементов сетки объекта, при этом минимизируя видимые изменения в форме.
                Используется при работе с моделями, содержащими избыточное количество полигонов, позволяет ускорить
                рендеринг и обработку.
            </p>
            <ul>
                <li>Выберите объект, который вы хотите оптимизировать, например, высокополигональную модель.</li>
                <li>Перейдите в панель свойств (иконка гаечного ключа) и выберите вкладку Modifiers. Нажмите Add Modifier и
                    выберите <code>Decimate Modifier</code> из выпадающего списка.
                </li>
                <li>Настройте параметр <code>Ratio</code>. Этот параметр определяет, на сколько уменьшится количество
                    полигонов. Значение 1.0 означает, что объект не будет изменен, а значение 0.0 полностью удалит все
                    полигоны. Значение в пределах 0.5–0.1 позволяет значительно уменьшить количество полигонов, сохраняя при
                    этом форму.
                </li>
                <li>После настройки модификатора, нажмите Apply для его применения. После этого количество полигонов в
                    модели будет уменьшено.
                </li>
            </ul>
        </div>

        <div class="requirements-list_last">
            <h4>Модификатор Bevel</h4>
            <p>
                Модификатор Bevel в Blender используется для создания фасок (скруглений) на краях объекта. Это добавляет
                реалистичности моделям, улучшает визуальное восприятие и помогает устранить острые углы. Bevel идеально
                подходит для работы с твердыми объектами, такими как мебель, архитектурные элементы или детали
                механизмов. Модификатор позволяет гибко настраивать ширину фасок, их форму и количество сегментов,
                обеспечивая плавное сглаживание углов.
            </p>
            <ol>
                <li>Выберите объект, к которому вы хотите применить модификатор.</li>
                <li>Перейдите в панель свойств (справа) и выберите вкладку Modifiers (иконка гаечного ключа). Нажмите на
                    кнопку Add Modifier и выберите из выпадающего списка <code>Bevel</code>.
                </li>
                <li>Настройте параметры модификатора:
                    <ul>
                        <li><code>Width/Amount</code>: Установите ширину фаски. Чем больше значение, тем шире фаска.
                        </li>
                        <li><code>Segments</code>: Определите количество сегментов для сглаживания. Большее значение
                            создаёт более плавную фаску.
                        </li>
                        <li><code>Limit Method</code>: Выберите способ ограничения фасок:
                            <ul>
                                <li><code>None</code>: Применяет фаски ко всем краям.</li>
                                <li><code>Angle</code>: Применяет фаски только к углам с заданным значением угла.</li>
                                <li><code>Weight</code>: Позволяет использовать веса на ребрах для контроля фасок.</li>
                                <li><code>Vertex Group</code>: Применяет фаски только к выбранной группе вершин.</li>
                            </ul>
                        </li>
                        <li><code>Profile</code>: Настройте форму фаски (вогнутая, выпуклая или ровная).</li>
                        <li><code>Harden Normals</code>: Включите эту опцию для улучшения отображения нормалей на
                            фасках.
                        </li>
                    </ul>
                </li>
                <li>После настройки модификатора результат будет виден в 3D-вьюпорте. Если вас устраивает результат,
                    нажмите <code>Apply</code>
                </li>
            </ol>
            <div class="text-center">
                <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
            </div>
        </div>
    </div>

{% endblock %}