{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Контент первого урока{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Использование модификаторов для моделирования обьектов. Boolean</h1>
        </div>

        <div class="requirements-list_last" id="9" data-type="lesson">
            <p>
                Модификаторы в Blender — это мощные инструменты, которые позволяют изменять и обрабатывать 3D-модели без
                необходимости изменять исходную геометрию. Они работают как неразрушающие фильтры, которые можно применять к
                объектам, чтобы добиться различных эффектов и преобразований. Модификаторы позволяют значительно упростить
                процесс моделирования, добавляя гибкость и контроль над формами и структурами объектов. В этом уроке наглядно
                рассмотрим Boolean.
            </p>
            <a href="{% static 'main/img/modifier.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/modifier.png' %}">
            </a>
            <p>
                Модификаторы в Blender можно классифицировать по нескольким категориям, в зависимости от их воздействия на
                объект и его геометрию:
            </p>
            <ul>
                <li><strong>Edit (Редактирование)</strong> – Эти модификаторы воздействуют не на саму геометрию объекта, а
                    на другие данные, такие как группы вершин. Они позволяют изменять определенные аспекты структуры
                    объекта, не изменяя его форму напрямую.
                </li>
                <li><strong>Generate (Генерация)</strong> – Конструктивные или деструктивные модификаторы, которые влияют на
                    всю топологию объекта. Они могут изменять внешний вид объекта или добавлять новую геометрию, внося
                    значительные изменения в его форму.
                </li>
                <li><strong>Deform (Деформация)</strong> – Эти модификаторы изменяют только форму объекта, не затрагивая его
                    топологию. Они используются для манипуляций с геометрией, таких как сгибания, растяжения или другие виды
                    деформаций, но не добавляют или не удаляют вершины или ребра.
                </li>
                <li><strong>Physics (Симуляция)</strong> – Модификаторы, отвечающие за физические симуляции. Они обычно
                    добавляются автоматически при включении системы частиц или физической симуляции. Эти модификаторы
                    определяют, как данные для симуляции будут извлекаться и используются для управления поведением объекта
                    и его физических процессов.
                </li>
            </ul>
            <h2 class="text-center mb-2">Модификатор Boolean</h2>
            <p>
                Модификатор Boolean в Blender выполняет булевы операции между двумя объектами, позволяя создавать сложные
                геометрические формы. С помощью этого модификатора можно выполнять три основные операции: объединение
                (Union), вычитание (Difference) и пересечение (Intersection). Эти операции позволяют комбинировать или
                изменять объекты, превращая простые формы в более сложные. Например, с помощью операции вычитания можно
                вырезать отверстие в объекте, а операция объединения позволит соединить два объекта в один. Модификатор
                Boolean подходит для создания деталей, архитектурных элементов, механизмов или любых других объектов,
                требующих точных и сложных геометрических изменений.
                Простое объединение объектов в режиме редактирования через Ctrl + J объединяет меши, но сохраняет всю внутреннюю структуру и пересекающиеся грани.
                Булевская операция, в отличие от этого, удаляет пересекающиеся элементы, создавая чистую геометрию на стыке объектов.
            </p>
            <a href="{% static 'main/img/boolean.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/boolean.png' %}">
            </a>
            <h3 class="text-center mb-2"><br>Чтобы использовать модификатор Boolean, необходимо:</h3>
            <ol>
                <li>Выберите основной объект.</li>
                <li>Перейдите в панель свойств (справа) и выберите вкладку Modifiers (иконка гаечного ключа). Нажмите на
                    кнопку Add Modifier и выберите из выпадающего списка <code>Boolean Modifier</code>.
                </li>
                <li> Выберите тип операции:
                    <ul>
                        <li><code>Union</code> (Объединение): Объединяет два объекта в один.</li>
                        <li><code>Difference</code> (Вычитание): Вырезает форму второго объекта из первого.</li>
                        <li><code>Intersection</code> (Пересечение): Оставляет только пересекающуюся часть двух объектов.
                        </li>
                    </ul>
                </li>
                <li>В поле Object выберите второй объект, который будет использоваться для операции. Этот объект будет
                    влиять на основной объект в зависимости от выбранной операции (например, для вычитания — это объект, из
                    которого будет вырезано отверстие).
                </li>
                <li>После настройки модификатора, вы увидите результат операции в 3D-вьюпорте. Если вас устраивает
                    результат, вы можете применить модификатор нажав Apply в настройках модификатора
                </li>
            </ol>
            <a href="{% static 'main/img/boolean2.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/boolean2.png' %}">
            </a>
            <div class="text-center">
                <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
            </div>
        </div>
    </div>
{% endblock %}