{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Контент первого урока{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Настройки Blender: трансформации, структура меша и параметры объекта.</h1>
        </div>
        <div class="requirements-list" id="3" data-type="lesson">
            <h2 class="text-center mb-2">Структура меша в Blender</h2>
            <p>Меш (Mesh)— это основной тип объекта, который используется для создания 3D-моделей. Он состоит из нескольких
                ключевых элементов, которые вместе образуют форму объекта. Основные элементы структуры меша:</p>
            <a href="{% static 'main/img/mesh_1.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/mesh_1.png' %}">
            </a>
            <h4>Вершины (Vertices)</h4>
            <p><strong>Вершины</strong> — это основные строительные блоки меша. Каждая вершина представляет собой точку в 3D-пространстве
                с определёнными координатами <code>X, Y и Z</code>. В Blender вершины можно перемещать, добавлять или удалять, изменяя
                таким образом форму объекта. Вершины могут быть соединены между собой рёбрами, создавая контуры объекта. </p>

            <h4>Рёбра (Edges)</h4>
            <p><strong>Рёбра</strong> — это линии, соединяющие две вершины. Рёбра служат для формирования каркаса объекта и создают его контуры.
                Рёбра не имеют площади, но играют большую роль в образовании поверхности. В Blender рёбра можно редактировать,
                а также использовать их для создания дополнительных граней. </p>

            <h4>Грани (Faces)</h4>
            <p><strong>Грани</strong> — это полигоны, ограниченные рёбрами, которые образуют поверхность объекта. Обычно это треугольники
                или четырёхугольники, но могут быть и более сложные формы.В Blender для большинства объектов используются
                 <strong>треугольные</strong> или <strong>четырёхугольные</strong> грани. Грани определяют, как свет будет взаимодействовать с объектом, так
                как на их основе строится визуализация.</p>

            <h4>Нормали (Normals)</h4>
            <p><strong>Нормали</strong> — это вектора, направленные от каждой грани или вершины, которые определяют, в какую сторону направлена
                поверхность объекта. Нормали важны для правильного освещения и рендеринга. Нормали помогают программе понять,
                как освещать объект, определяя, с какой стороны поверхность объекта будет отражать свет.</p>
            <a href="{% static 'main/img/mesh_2.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/mesh_2.png' %}">
            </a>

            <p>Пример структуры меша для 3D-объекта (куб):</p>
            <ol>
                <li><strong>Вершины:</strong> 8 точек (по 4 на верхней и нижней грани).</li>
                <li><strong>Рёбра:</strong> 12 рёбер (по 4 на каждой из 4 граней).</li>
                <li><strong>Грани:</strong> 6 граней (по 1 на каждой из 6 сторон куба).</li>
            </ol>


            <h2>Применение трансформаций</h2>
            <p>После выполнения трансформаций важно применить их к объекту, чтобы изменения стали частью его геометрии.
                Это делается через меню <code>Object &gt; Apply &gt; All Transforms</code> или горячую клавишу <code>Ctrl
                    + A</code>.</p>
        </div>

        <div class="requirements-list">

            <h2 class="text-center mb-2">Топология</h2>
            <p><strong>Топология меша</strong> — это структура его геометрической сетки, которая определяет, как вершины, рёбра и грани
                соединяются друг с другом. Хорошая топология важна для того, чтобы объект был легким в редактировании, а
                также чтобы он правильно деформировался при анимации. Плохая топология может привести к неестественным и
                неконтролируемым деформациям, а также затруднить дальнейшую работу с моделью. </p>
            <a href="{% static 'main/img/topology.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/topology.jpg' %}">
            </a>
            <p><strong>Чистая топология</strong> — это топология, которая использует равномерно распределённые вершины, рёбра
                и грани, что упрощает дальнейшую работу с объектом. Чистая топология облегчает анимацию, так как деформации будут
                более предсказуемыми и контролируемыми.</p>

            <p><strong>Нечистая топология</strong> Нечистая топология имеет множество проблем с равномерностью распределения
                рёбер и граней. В этой топологии могут быть пересечения рёбер, избыточные вершины и неправильно расположенные
                элементы, что затрудняет редактирование и анимацию.Нерегулярные или кривые рёбра. Проблемы с несимметричными вершинами и гранью.</p>

            <a href="{% static 'main/img/tq_mesh.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/tq_mesh.png' %}">
            </a>

            <p class="text-center mb-2"><strong>Треугольная и квадратная топология</strong></p>
            <p>В 3D-моделировании можно использовать как треугольные, так и квадратные (или полигональные) грани для формирования объекта.</p>
            <ol>
                <li>
                    <strong>Треугольные меши:</strong> Используют только треугольные грани. Они просты в рендеринге и удобны
                    для игр, где требуется высокая производительность. Однако в некоторых случаях треугольники могут создавать проблемы
                    с плавностью поверхности и деформацией.
                </li>
                <li>
                    <strong>Квадратные меши:</strong> Используют квадратные или прямоугольные грани. Этот тип топологии проще
                    в редактировании и дают более гладкие поверхности.
                </li>
            </ol>



            <h2 class="text-center mb-2">Режимы работы с мешем:</h2>
            <ol>
                <li><strong>Object Mode:</strong> Для работы с объектами в целом, их трансформации, перемещения, вращения, масштабирования.</li>
                <li><strong>Edit Mode:</strong> Для редактирования элементов меша, таких как вершины, рёбра и грани.</li>
                <li><strong>Sculpt Mode:</strong> Для скульптурного моделирования, изменения формы объекта с помощью кистей.</li>
            </ol>
            <div class="text-center">
                <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
            </div>
        </div>

    </div>
{% endblock %}