{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Контент первого урока{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Текстурирование и создание материалов. Применение текстур и шейдеров.</h1>
        </div>

        <div class="requirements-list" id="7" data-type="lesson">
            <h2 class="text-center mb-4">Что такое текстуры?</h2>
            <p><strong>Текстуры</strong> — это 2D-изображения, которые используются для детализации поверхности
                3D-объектов. Они позволяют придать объекту внешний вид, отражающий его материал: цвет, узоры, неровности,
                блеск и
                другие свойства. Текстура может быть простой картинкой, созданной вручную, или фотографией,
                специально подготовленной для использования в 3D-моделировании. Текстуры используются для передачи
                внешнего вида материалов (например, дерево, металл, стекло, ткань), добавления деталей (например,
                трещины, царапины) и создания эффектов (например, отражений, прозрачности). Чтобы текстура корректно
                отображалась на 3D-объекте, используется процесс UV-развёртки. Этот процесс связывает каждую точку
                текстуры с определённой точкой поверхности объекта.</p>

            <a href="{% static 'main/img/texture.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/texture.png' %}">
            </a>

            <h2>Как работает текстура?</h2>
            <ul>
                <li>3D-объект состоит из множества плоских граней (полигонов).</li>
                <li>Текстура накладывается на эти грани с использованием координат UV (двумерная система координат,
                    где U и V обозначают горизонтальные и вертикальные оси текстуры).
                </li>
                <li>Компьютер интерпретирует текстуру как "обои", которые "оборачивают" поверхность объекта,
                    придавая ей желаемый вид.
                </li>
            </ul>
            <p><strong>UV-развёртка</strong> это процесс проекции 3D-объекта на двумерную плоскость, чтобы можно
                было наложить текстуру на его поверхность. В ходе этого процесса создаётся карта, где каждая точка
                поверхности объекта (вершина, грань, полигон) связывается с соответствующей точкой текстуры в
                координатах U и V (аналог X и Y для 2D-пространства).</p>

            <a href="{% static 'main/img/texture2.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/texture2.png' %}">
            </a>

            <h2>Типы текстур</h2>
            <ol>
                <li>Диффузная текстура (Diffuse/Albedo)</li>
                <li>Спекулярная текстура (Specular)</li>
                <li>Карта нормалей (Normal Map)</li>
                <li>Карта высот (Height Map)</li>
                <li>Карта прозрачности (Opacity Map)</li>
            </ol>

            <p><strong>Диффузная текстура, </strong>также называемая <code>Albedo</code>, определяет основной цвет и
                узор объекта. Она отвечает за внешний вид материала, но не включает в себя эффекты бликов, теней или
                отражений. Этот тип текстуры применяется для создания базового слоя цвета на объектах, например
                кожа персонажа, древесина или краска.</p>
            <a href="{% static 'main/img/diffuse.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/diffuse.jpg' %}">
            </a>

            <p><strong>Спекулярная текстура</strong>, или <code>Specular</code>, определяет, насколько объект
                отражает свет. Она используется для указания, какие области поверхности будут глянцевыми или
                матовыми. Например, спекулярная текстура позволяет создать блеск на лакированной мебели или мокрой
                поверхности, делая их реалистичными.</p>
            <a href="{% static 'main/img/specular.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/specular.jpg' %}">
            </a>

            <p><strong>Карты нормалей</strong>, или <code>Normal maps</code>, служат для создания иллюзии рельефа на
                поверхности объекта без добавления дополнительных полигонов. Применяется для добавления
                мелких деталей, таких как трещины, швы или текстура ткани, сохраняя при этом низкую сложность
                модели.</p>
            <a href="{% static 'main/img/normalmap.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/normalmap.png' %}">
            </a>

            <p><strong>Карты высот</strong>, или <code>Height maps</code>, используются для изменения геометрии
                объекта, добавляя более выраженный рельеф. В отличие от карт нормалей, они влияют на саму форму
                объекта, создавая возвышенности и углубления. Этот тип текстуры полезен для создания сложных
                ландшафтов, например, холмов или трещин на поверхности земли.</p>
            <a href="{% static 'main/img/heightmap.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/heightmap.jpg' %}">
            </a>

            <p><strong>Карты прозрачности</strong>, или <code>Opacity maps</code>, используются для указания, какие
                части объекта видимы, а какие должны быть прозрачными или полностью невидимыми. Этот тип текстуры
                полезен для создания сложных форм, таких как листья деревьев, кружевные ткани или оконное стекло,
                без необходимости увеличивать количество полигонов.</p>
            <a href="{% static 'main/img/opacity.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/opacity.png' %}">
            </a>

            <p>Использование всех этих текстур в комбинации позволяет создать материалы с высоким уровнем реализма,
                которые точно передают различные физические свойства поверхности.</p>
        </div>

        <div class="requirements-list_last">
            <h2>Что такое шейдеры?</h2>
            <p><strong>Шейдеры</strong> – это небольшие программы, которые выполняются на графическом процессоре
                (GPU) и управляют визуальным отображением объектов в 3D-сцене. Они определяют, как объекты выглядят
                при рендеринге, изменяя их форму, цвет, освещение и другие визуальные параметры. Шейдеры позволяют
                создавать реалистичные или стилизованные материалы, которые могут взаимодействовать с освещением,
                текстурами и другими эффектами. </p>
            <a href="{% static 'main/img/shader.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/shader.jpg' %}">
            </a>

            <h2>Виды шейдеров</h2>
            <p><strong>Вершинные шейдеры (Vertex shaders) </strong>управляют положением каждой вершины 3D-объекта на
                экране. Они определяют, где будут находиться вершины после применения различных трансформаций, таких
                как масштабирование, вращение или перемещение. Эти шейдеры также могут обрабатывать данные, такие
                как координаты текстур и нормали.</p>
            <p><strong>Фрагментные шейдеры (Fragment shaders) </strong>отвечают за определение цвета каждого пикселя
                на поверхности объекта. Они работают с текстурами, освещением, тенями и другими эффектами, чтобы
                создать финальный внешний вид материала.</p>
            <p><strong>Геометрические шейдеры (Geometry shaders) </strong>работают с примитивами (точками, линиями
                или треугольниками) и могут добавлять новые вершины или изменять существующие, чтобы изменять форму
                объекта. Они используются для создания сложных эффектов, таких как тесселяция или генерация частиц.
            </p>

            <p>Текстуры и шейдеры тесно связаны в процессе рендеринга. Текстуры — это 2D-изображения, которые
                накладываются на 3D-объекты, чтобы добавить детализацию, такие как цвет, узоры, шероховатость или
                рельеф. Шейдеры же выполняют вычисления, чтобы интерпретировать эти текстуры и другие данные
                (например, световые источники или параметры камеры) для создания финального изображения. Вместе
                текстуры и шейдеры определяют, как будет выглядеть материал на экране.</p>

            <a href="{% static 'main/img/shader2.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/shader2.jpg' %}">
            </a>

            <h2>Что такое материал?</h2>
            <p><strong>Материал</strong> — это совокупность свойств, определяющих, как поверхность объекта
                взаимодействует с освещением, текстурами и шейдерами. Материалы в 3D-графике отвечают за внешний вид
                объектов, их цвет, отражение, прозрачность и текстуру. Материалы используют текстуры и шейдеры для
                того, чтобы придать объектам различные визуальные характеристики, такие как блеск, шероховатость или
                прозрачность. Шейдеры, в свою очередь, обрабатывают информацию о материале и управляют тем, как он
                будет отображаться в рендере.</p>

            <a href="{% static 'main/img/texture3.png.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/texture3.png' %}">
            </a>

            <p>Материалы обладают рядом параметров, которые влияют на их визуальное восприятие:</p>
            <ol>
                <li><strong>Цвет</strong> - это базовый параметр, определяющий основной оттенок материала, который видит
                    пользователь. Цвет может быть определен текстурой (например, текстура древесины) или установлен в
                    шейдере.
                </li>
                <li><strong>Отражение</strong> - это свойство материала, которое определяет, как он будет отражать свет.
                    Отражения могут быть частичными или полными, и они играют ключевую роль в создании реалистичных
                    материалов, таких как металл или вода.
                </li>
                <li><strong>Преломление</strong> - это способность материала преломлять свет, что характерно для
                    прозрачных или полупрозрачных материалов. Например, стекло или вода имеют определённое преломление,
                    что влияет на то, как они будут выглядеть при взаимодействии с источниками света.
                </li>
                <li><strong>Шероховатость</strong> - это параметр, который определяет насколько гладкой или шероховатой
                    будет поверхность материала. Материалы с высокой шероховатостью, как правило, менее отражающие, в то
                    время как гладкие материалы создают сильные блики и зеркальные отражения.
                </li>
            </ol>
            <div class="text-center">
                <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
            </div>
        </div>
    </div>
{% endblock %}