{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Визуализация сцены и экспорт изображения в Blender{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Рендеринг сцены и экспорт изображения в Blender</h1>
        </div>

        <div class="requirements-list_last" id="4" data-type="lesson">
            <p> Одним из финальных этапов работы над 3D-проектом является рендеринг — процесс превращения трёхмерной сцены в двухмерное изображение или анимацию.</p>

            <h2 class="text-center mb-2">Что такое рендеринг?</h2>

            <p>Рендеринг (от англ. render — «воспроизводить, отображать») — это вычислительный процесс генерации окончательного изображения на основе сцены, созданной пользователем. Во время рендеринга программа учитывает:</p>
            <ul>
                <li>освещение и тени;</li>
                <li>материалы и текстуры объектов;</li>
                <li>отражения и преломления;</li>
                <li>эффекты объёма и глубины;</li>
                <li>перспективу и ракурс камеры.</li>
            </ul>

            <p>Blender предоставляет два основных движка рендеринга:</p>
            <ol>
                <li>Eevee — быстрый движок в реальном времени, подходящий для превью и интерактивных сцен.</li>
                <li>Cycles — более реалистичный трассировочный движок, обеспечивающий физически корректное освещение.</li>
            </ol>

            <a href="{% static 'main/img/render.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/render.jpg' %}">
            </a>

            <p>Изменить настройки Рендера можно на вкладке Render редактора свойств.</p>

            <a href="{% static 'main/img/render.png' %}" data-lightbox="gallery">
                <img class="image2" src="{% static 'main/img/render.png' %}">
            </a>

            <p>То, как будут отображены объекты на финальном изображении, по большей части определяется не выбором движка
                рендеринга и его параметрами, а положением камеры, освещением и свойствами примененных к самим объектам материалов.
                Потому что большинство программ-рендеров делают примерно одно и то же, просто разными способами.</p>

            <h2 class="text-center mb-2">Этапы подготовки к рендерингу</h2>
            <p>Перед тем как приступить к рендерингу, необходимо:</p>
            <ol>
                <li>Установить камеру — выбрать ракурс, с которого будет сделан «снимок». Чтобы переключится на вид с камеры необходимо нажать <code>0</code>
                 на NumPad</li>
                <li>Настроить освещение — добавить источники света и отрегулировать их яркость, цвет и расположение.</li>
                <li>Выбрать движок рендеринга — в панели настроек «Render Properties» можно переключиться между Eevee и Cycles.</li>
                <li>Настроить параметры вывода — в панели «Output Properties» задать разрешение, формат изображения, путь сохранения.</li>
            </ol>

            <h2 class="text-center mb-2">Процесс рендеринга</h2>
            <p>Чтобы отрендерить изображение:</p>
            <ol>
                <li>Перейдите во вкладку Render → Render Image (или нажмите <code>F12</code>).</li>
                <li>Blender начнет просчитывать изображение — это может занять от нескольких секунд до минут, в зависимости от сложности сцены и мощности компьютера.</li>
                <li>После завершения рендеринга изображение появится в новом окне.</li>
                <li>В окне с результатом рендеринга выберите Image → Save As….</li>
                <li>Укажите путь, имя файла и формат (чаще всего используется PNG или JPEG).</li>
                <li>Нажмите Save As Image.</li>
            </ol>
            <a href="{% static 'main/img/render1.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/render1.png' %}">
            </a>

            <h2 class="text-center mb-2"><br>Rendered Viewport shading</h2>

            <p>Viewport Shading — это система, отвечающая за то, как отображаются объекты в окне 3D Viewport. Она позволяет переключаться между разными режимами визуализации, от простого каркаса до полного фотореалистичного рендеринга. Один из таких режимов позволяет заранее узнать, как будет выглядеть обьект на рендере и называется он - Rendered Viewport shading</p>
            <h3>Что такое Rendered Viewport Shading?</h3>
            <p><strong>Rendered Viewport Shading</strong> — это режим, в котором Blender отображает сцену так, как она будет выглядеть при финальном рендере. Он учитывает: </p>
            <ul>
                <li>Источники света;</li>
                <li>Материалы и текстуры;</li>
                <li>Тени;</li>
                <li>Отражения и преломления;</li>
                <li>Рендер-движок (Cycles или Eevee).</li>
            </ul>

            <h3>Как включить Rendered View?</h3>
            <ol>
                <li>Перейдите в окно 3D Viewport.</li>
                <li>В правом верхнем углу нажмите иконку Rendered Viewport Shading — она выглядит как сфера с чекерным (шахматным) узором и бликами.</li>
                <li>Либо нажмите клавишу Z → Rendered (вызов всплывающего меню навигации).</li>
            </ol>
            <a href="{% static 'main/img/rendered.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/rendered.png' %}">
            </a>

            <div class="text-center">
                <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
            </div>
        </div>
    </div>
{% endblock %}
