{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Контент первого урока{% endblock %}

{% block content %}
   <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Освещение в 3D-сценах: Типы источников света и их влияние на визуализацию</h1>
        </div>

       <div class="requirements-list" id="8" data-type="lesson">
            <p>Освещение в 3D-сценах играет ключевую роль в создании реалистичной визуализации и задает атмосферу всей композиции.
                В Blender если удалить лампу, то сцена и объекты на ней станут темными. Без источника света получить картинку с хорошо различимыми
                элементами невозможно. Яркость освещения, местонахождение источника, направление излучения играют важную роль. Настройками света
                и тени можно улучшить изображение, скорректировать его вид. В Blender доступны различные типы источников света, каждый из которых
                имеет свои особенности и используется для достижения определенных эффектов. Рассмотрим основные типы источников света и их влияние
                на визуализацию. <br> При редактировании сцены, чтобы оценивать влияние освещения, можно включить тип затенения "Рендер" (Z → 8).
            </p>

            <a href="{% static 'main/img/texture.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/texture.png' %}">
            </a>

            <h2>Точечный свет (Point Light)</h2>
            <ul>
                <li>Свет рассеивается равномерно во всех направлениях.</li>
                <li>Позволяет создавать мягкие тени, если включен эффект размытия теней
                </li>
                <li>Используется для локального освещения небольших объектов или зон.
                </li>
            </ul>
            <p><strong>Точечный источник света</strong> испускает свет во всех направлениях из одной точки. Напоминает лампочку без абажура. В сценах обычно используется несколько источников света. Добавить дополнительные можно через меню Add | Добавить. Часто используют второй точечный излучатель с меньшей мощностью, чтобы немного подсветить затемненную поверхность. Можно установить отрицательное значение мощности, и тогда источник действует как поглотитель освещения, своего рода выключатель. Бывает на сцену добавляют лампу рядом с камерой, чтобы осветить и смягчить темные участки на переднем плане.
Если параметр Radius больше нуля, то свет излучается сферической поверхностью указанного радиуса. На 3D-сцене она обозначается окружностью, очерченной сплошной линией. Источники с большим радиусом имеют более мягкие тени и зеркальные блики. Также они будут казаться более тусклыми, потому что их сила распределяется по большей площади.
</p>

            <a href="{% static 'main/img/texture2.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/texture2.png' %}">
            </a>

            <h2>Солнечный свет (Sun Light)</h2>
            <ul>
                <li>Направление света задается положением источника и его ориентацией.</li>
                <li>Освещает всю сцену, не завися от расстояния до объектов.</li>
                <li>Подходит для создания реалистичных теней и дневных сцен</li>
                <li>Используется для имитации дневного освещения в открытых пространствах.</li>
            </ul>

            <p><strong>Солнечный свет </strong>создает параллельные лучи, что позволяет имитировать естественное освещение от солнца.</p>
            <a href="{% static 'main/img/diffuse.jpg' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/diffuse.jpg' %}">
            </a>

            <h2>Точечный прожектор (Spot Light)</h2>
            <ul>
                <li>Имеет параметры угла рассеивания и размытия границ</li>
                <li>Позволяет акцентировать внимание на определенной области сцены</li>
                <li>Создает мягкие или четкие тени, в зависимости от настроек</li>
            </ul>
            <p><strong>Spot Light</strong> направляет свет в виде конуса, создавая фокусированный пучок света.</p>

            <h2>Плоскостной свет (Area Light)</h2>
            <ul>
                <li>Обеспечивает мягкое и равномерное освещение.</li>
                <li>Используется для создания реалистичных отражений на объектах</li>
                <li>Размер источника света влияет на качество теней: большие источники создают мягкие тени, маленькие — более резкие.</li>
            </ul>
            <p><strong>Area Light</strong> представляет собой источник света, который исходит с поверхности заданной формы (прямоугольник, диск и т.д.).</p>

            <h2>Глобальное освещение (Environment Lighting)</h2>
            <ul>
                <li>Освещение задается через HDRI-карту, что позволяет добиться реалистичных отражений и световых эффектов.</li>
                <li>Освещает всю сцену равномерно.</li>
                <li>Позволяет создать ощущение реального пространства.</li>
            </ul>
            <p><strong>Глобальное освещение</strong> используется для имитации света, исходящего из окружающей среды.</p>

           <h2>Эмиссивные материалы (Emissive Materials)</h2>
            <ul>
                <li>Свет исходит с поверхности объекта.</li>
                <li>Создает эффект светящихся объектов, например, экранов, ламп или неоновых вывесок.</li>
                <li>Интенсивность и цвет света зависят от параметров материала</li>
            </ul>
            <p>Любой объект может стать источником света, если на него наложен <strong>эмиссивный материал.</strong></p>
            <div class="text-center">
                <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
            </div>
        </div>
   </div>
{% endblock %}