{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Контент первого урока{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Интерфейс Blender</h1>
        </div>
        <div class="requirements-list" id="1" data-type="lesson">
            <p> Blender — это мощный и бесплатный графический редактор для 3D моделирования, анимации, рендеринга и
                композитинга. Blender обладает широкими возможностями, которые делают его универсальным инструментом для различных
                задач. Независимо от того, хотите ли вы создать простую 3D модель или сложную анимацию, Blender
                предоставляет все необходимые инструменты. В этом уроке мы рассмотрим основные элементы интерфейса Blender.<br>
            </p>
            <p>
            </p>
            <a href="{% static 'main/img/interfaceBlender.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/interfaceBlender.png' %}">
            </a>
            <p>При запуске программы вас встречает Рабочая область программы Blender. Эту область можно условно разделить
                на 10 регионов, каждый из которых необходим для самых разнообразных действий. Давайте рассмотрим
                 каждый регион подробнее:
            </p>
            <h2 class="text-center mb-2"><br><br>1. Верхняя панель меню - Topbar</h2>
            <p>Это главное меню программы Blender, здесь находятся действия которые вы скорее всего будете выполнять каждый раз, когда
                 запускаете новый проект. Основные элементы Topbar'а:
            </p>
            <div class="section">
                <h4 class="text-center mb-2"><strong>File / Файл</strong></h4>
                <p> "Файл" (File) на верхней панели — это основное место для работы с проектами. Здесь можно создать новый
                    проект, открыть уже сохранённый, сохранить текущую работу, импортировать или экспортировать 3D-модели, а
                    также выйти из программы. Это меню отвечает за всё, что связано с управлением файлами и сохранением вашего
                    прогресса.</p>
                <ul>
                    <li><strong>Create(New) / Создать(Новый):</strong> Создание нового проекта.</li>
                    <li><strong>Open / Открыть:</strong> Открытие существующего проекта.</li>
                    <li><strong>Save / Сохранить:</strong> Сохранение текущего проекта.</li>
                    <li><strong>Save As / Сохранить как:</strong> Сохранение проекта с новым именем.</li>
                    <li><strong>Import / Импортировать:</strong> Загрузка объектов из других файлов (например, FBX, OBJ, STL).
                    </li>
                    <li><strong>Export / Экспортировать:</strong> Сохранение объектов в других форматах.</li>
                    <li><strong>Exit / Выход:</strong> Закрыть все окна Blender.</li>
                </ul>
                <a href="{% static 'main/img/file.png' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/file.png' %}">
                </a>
            </div>

            <div class="section">
                <h4 class="text-center mb-2"><br><br><strong>2. Edit / Правка</strong></h4>
                <p>Меню "Правка" (Edit) в Blender позволяет управлять действиями и настройками. Здесь можно отменить или
                    повторить последние шаги, настроить параметры последней операции, а также открыть главное окно с настройками
                    программы — от интерфейса и горячих клавиш до расширений (аддонов). Это меню помогает контролировать процесс
                    работы и подстраивать Blender под себя.</p>
                <ul>
                    <li><strong>Undo / Отменить:</strong> Отмена последнего действия.</li>
                    <li><strong>Redo / Повторить:</strong> Повтор последнего действия.</li>
                    <li><strong>Adjust Last Operation / Настроить последнюю операцию:</strong> Изменение параметров
                        последнего действия в программе.
                    </li>
                    <li><strong>Preferences / Настройки:</strong> Доступ к параметрам интерфейса, горячих клавиш и
                        аддонов.
                    </li>
                </ul>
                <a href="{% static 'main/img/pravka.png' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/pravka.png' %}">
                </a>
            </div>

            <div class="section">

                <h4 class="text-center mb-2"><br><br><strong>3. Render / Рендеринг</strong></h4>
                <p>Меню "Рендеринг" (Render) в Blender используется для создания финального изображения или анимации из
                    вашей сцены. Здесь запускается процесс визуализации — то есть превращения 3D-модели в готовую картинку
                    или видео. Также отсюда можно просмотреть последний результат рендера в отдельном окне.</p>
                <ul>
                    <li><strong>Render Image / Рендеринг изображения:</strong> Рендеринг текущего кадра.</li>
                    <li><strong>Render Animation / Рендеринг анимации:</strong> Запуск рендеринга всей анимации.</li>
                    <li><strong>View Render / Показать рендер:</strong> Открытие последнего рендера в отдельном окне.
                    </li>
                </ul>
                <a href="{% static 'main/img/rendering.png' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/rendering.png' %}">
                </a>
            </div>

            <div class="section">
                <h4 class="text-center mb-2"><br><br><strong>4. Window / Окно</strong></h4>
                <p>Это меню отвечает за настройку окон интерфейса Blender. С его помощью можно открыть новое окно программы,
                    развернуть интерфейс на весь экран для удобства работы, а также быстро переключаться между различными рабочими
                    пространствами, такими как моделирование, анимация или рендеринг. Всё это помогает настроить рабочую среду под свои
                    задачи.</p>
                <ul>
                    <li><strong>New Window / Новое окно:</strong> Открытие дополнительного окна.</li>
                    <li><strong>Toggle Fullscreen / Полноэкранный режим:</strong> Переключение интерфейса в
                        полноэкранный
                        режим.
                    </li>
                    <li><strong>Next Workspace, Previous Workspace / Следующее рабочее пространство, Предыдущее рабочее пространство</strong> Переключение между несколькими рабочими
                        областями.
                    </li>
                </ul>
                <a href="{% static 'main/img/window.png' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/window.png' %}">
                </a>
            </div>

            <div class="section">
                <h4 class="text-center mb-2"><br><br><strong>5. Help / Справка</strong></h4>
                <p>Меню "Справка" (Help) в Blender предназначено для получения поддержки и информации. Здесь можно открыть
                    официальное руководство пользователя, найти обучающие материалы, сообщить о найденной ошибке в программе
                    или посмотреть информацию о системе и настройках Blender. Это полезный раздел для тех, кто изучает программу
                    или сталкивается с техническими трудностями.</p>
                <ul>
                    <li><strong>Manual / Руководство:</strong> Ссылка на официальное руководство Blender.</li>
                    <li><strong>Tutorials / Обучающие материалы:</strong> Доступ к обучающим материалам.</li>
                    <li><strong>Report a Bug / Сообщить о проблеме:</strong> Отправка отчёта о проблемах.</li>
                    <li><strong>System Info / Информация о системе:</strong> Просмотр сведений о текущей системе и
                        настройках Blender.
                    </li>
                </ul>
                <a href="{% static 'main/img/spravka.png' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/spravka.png' %}">
                </a>
            </div>
        </div>



        <div class="requirements-list">
            <div class="section">
                <h2 class="text-center mb-2"><br>2. Рабочие пространства в Blender</h2>
                <p>Рабочие пространства (Workspaces) в Blender позволяют настроить интерфейс в зависимости от типа
                    работы, которую вы выполняете. Это могут быть пространства для моделирования, анимации,
                    текстурирования или рендеринга.</p>
                <a href="{% static 'main/img/windowworkspace.png' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/windowworkspace.png' %}">
                </a>

                <h4 class="text-center mb-2"><br><br><strong>Основные рабочие пространства в Blender:</strong></h4>
                <ul>
                    <li><strong>Layout</strong> — Рабочее пространство Layout в Blender является универсальной зоной, с
                        которой обычно начинается работа над любым проектом. Оно предназначено для общего редактирования
                        сцены и включает в себя основные инструменты взаимодействия с объектами. В этом режиме пользователь
                        может перемещать, масштабировать и вращать объекты, настраивать их положение в пространстве, а также
                        организовывать структуру сцены с помощью Outliner — панели, где отображаются все элементы проекта.
                    </li>
                    <a href="{% static 'main/img/planning.png' %}" data-lightbox="gallery">
                        <img class="image1" src="{% static 'main/img/planning.png' %}">
                    </a>

                    <li><strong>Modeling</strong> - специально предназначено для создания и редактирования 3D-моделей.
                        В нём интерфейс адаптирован под задачи, связанные с геометрией объектов: пользователь получает доступ
                        к расширенному набору инструментов, которые позволяют формировать, изменять и уточнять форму модели. Это
                        пространство автоматически переключает активный объект в режим редактирования  <code> Edit Mode</code>, предоставляя
                        возможность работать с вершинами, рёбрами и гранями.
                    </li>
                    <a href="{% static 'main/img/modeling.png' %}" data-lightbox="gallery">
                        <img class="image1" src="{% static 'main/img/modeling.png' %}">
                    </a>

                    <li><strong>Sculpting</strong> в Blender предназначено для скульптурного моделирования, то есть для
                        придания объектам органических, плавных и детализированных форм с помощью виртуальных кистей. В
                        этом режиме пользователь словно "лепит" модель, как из глины, используя множество инструментов:
                        от сглаживания и выдавливания до создания складок, пор, рельефа и других тонких деталей.
                    </li>
                    <a href="{% static 'main/img/skulpting.png' %}" data-lightbox="gallery">
                        <img class="image1" src="{% static 'main/img/skulpting.png' %}">
                    </a>

                    <li><strong>UV Editing</strong> — Рабочее пространство UV Editing в Blender предназначено для создания
                        и редактирования UV-развёрток — это процесс "распаковки" 3D-модели в плоское изображение, чтобы можно
                        было точно наложить текстуру на поверхность объекта. В этом режиме пользователь видит одновременно две
                        области: слева отображается UV-развёртка в виде 2D-сетки, а справа — сама 3D-модель, на которой можно выбирать
                        участки и управлять их положением на текстуре.
                    </li>
                    <a href="{% static 'main/img/uv.png' %}" data-lightbox="gallery">
                        <img class="image1" src="{% static 'main/img/uv.png' %}">
                    </a>

                    <li><strong>Shading</strong> в Blender предназначено для создания и настройки материалов и шейдеров,
                        которые определяют, как поверхность объекта будет выглядеть при освещении — будь то металл, стекло,
                        ткань или что-то фантастическое. В этом режиме основной акцент сделан на узловом редакторе (Node Editor),
                        где материалы собираются из визуальных блоков, каждый из которых отвечает за определённое свойство — цвет,
                        блеск, прозрачность, текстуру, отражения и многое другое.</li>
                    <a href="{% static 'main/img/shading1.png' %}" data-lightbox="gallery">
                        <img class="image1" src="{% static 'main/img/shading1.png' %}">
                    </a>

                    <li><strong>Animation</strong> в Blender предназначено для создания и редактирования анимаций. Оно
                        специально организовано так, чтобы обеспечить полный контроль над движением объектов, персонажей
                        и камер во времени. Здесь пользователь может задавать ключевые кадры, настраивать кривые анимации
                        и управлять ритмом происходящего на сцене.
                    </li>
                    <a href="{% static 'main/img/animation.png' %}" data-lightbox="gallery">
                        <img class="image1" src="{% static 'main/img/animation.png' %}">
                    </a>
                </ul>
            </div>
        </div>

        <div class="requirements-list">

            <h3 class="text-center mb-2"> 3. Операции с объектами в Blender</h3>

            <a href="{% static 'main/img/barr.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/barr.png' %}">
            </a>

            <div class="section">
                <h2>1. Объекты (Object Mode)</h2>
                <p>Основные операции с объектами:</p>
                <ul>
                    <li><strong>Object Mode (Режим объекта) — </strong>для работы с объектами на уровне всей сцены (перемещение, масштабирование, вращение).</li>
                    <li><strong>Edit Mode (Режим редактирования) — </strong>для редактирования геометрии объектов (работа с вершинами, рёбрами, гранями).</li>
                    <li><strong>Sculpt Mode (Режим скульптинга) — </strong>для цифровой лепки объектов с помощью кистей, используется для создания органических форм.</li>
                    <li><strong>Vertex Paint (Покраска вершин) — </strong>для покраски вершин объекта, применяется для создания простых текстур.
                    </li>
                    <li><strong>Weight Paint (Покраска веса) — </strong>для настройки веса вершин в риггинге, чтобы контролировать влияние костей на объект.
                    </li>
                    <li><strong>Texture Paint (Покраска текстуры) — </strong>для рисования текстур на поверхности объекта.
                    </li>
                </ul>
            </div>

            <div class="section">
                <h2>2. Вид (View)</h2>
                <p>Настройка камеры и отображение элементов сцены:</p>
                <ul>
                    <li><strong>Перемещение камеры:</strong> Настройка позиции и ориентации камеры.</li>
                    <li><strong>Отображение (Display):</strong> Включение/выключение отображения сетки, осей и других
                        элементов сцены.
                    </li>
                    <li><strong>Переключение в перспективу/ортографический вид:</strong> Переключение между различными
                        видами камеры.
                    </li>
                </ul>
            </div>

            <div class="section">
                <h2>3. Выделение (Select)</h2>
                <p>Выделение объектов:</p>
                <ul>
                    <li><strong>Выделение объектов:</strong> Выделение одного или нескольких объектов.</li>
                    <li><strong>Выделение по типу:</strong> Выбор объектов по типу (например, только вершины, рёбра или
                        грани в режиме редактирования).
                    </li>
                </ul>
            </div>

            <div class="section">
                <h2>4. Добавить (Add)</h2>
                <p>Меню для добавления новых объектов в сцену:</p>
                <ul>
                    <li><strong>Добавление объектов:</strong> Меню для добавления примитивов: кубов, сфер, конусов и
                        т.д.
                    </li>
                    <li><strong>Пример:</strong> Shift + A — вызов меню добавления объектов.</li>
                </ul>
            </div>

            <div class="section">
                <h2>5. Объект (Object)</h2>
                <p>Основные операции с объектами:</p>
                <ul>
                    <li><strong>Перемещение (G):</strong> Перемещение объектов по сцене.</li>
                    <li><strong>Масштабирование (S):</strong> Изменение размера объекта.</li>
                    <li><strong>Вращение (R):</strong> Вращение объекта вокруг оси.</li>
                    <li><strong>Редактирование (Tab):</strong> Переключение между режимом объектов (Object Mode) и
                        редактирования (Edit Mode).
                    </li>
                    <li><strong>Копирование (Duplicate):</strong> Копирование объектов.</li>
                    <li><strong>Удаление (Delete):</strong> Удаление объектов.</li>
                    <li><strong>Применение трансформаций (Apply):</strong> Применение трансформаций объекта (масштаб,
                        вращение и позиция).
                    </li>
                </ul>
            </div>
        </div>

        <div class="requirements-list">

            <h3 class="text-center mb-2">4. 3D Viewport Toolbar</h3>
            <a href="{% static 'main/img/leftbar.png' %}" data-lightbox="gallery">
                <img class="image2" src="{% static 'main/img/leftbar.png' %}">
            </a>
            <p> Панель "3D Viewport Toolbar" содержит в себе основные инструменты для редактирования и выделения 3Д обьектов, инструменты меняются в зависимости от режима работы с обьектом</p>
            <ul>
                <li><strong>Select box / Выделить рамкой </strong> Инструмент для работы с выделением. С помощью кнопок выше можно переключить режим выделения, например:
                    <ul>
                        <li>Set a New Selection: Для установки нового выделения. Используется для выбора объектов или
                            элементов сцены.
                        </li>
                        <li>Extend Existing Selection: Для расширения уже сделанного выделения, например, добавления
                            новых объектов или элементов в выделение и т.д.
                        </li>
                    </ul>
                </li>
                <li><strong>Move (Переместить):</strong> Инструмент для перемещения объектов в 3D пространстве. <strong>Горячая
                    клавиша:</strong> G
                </li>
                <li><strong>Rotate (Повернуть):</strong> Инструмент для вращения объектов в 3D пространстве. <strong>Горячая
                    клавиша:</strong> R
                </li>
                <li><strong>Scale (Масштабировать):</strong> Инструмент для изменения размера объектов. <strong>Горячая
                    клавиша:</strong> S
                </li>
                <li><strong>Transform (Трансформировать):</strong> Инструмент, который объединяет перемещение, вращение и
                    масштабирование, позволяя работать с объектом в любой из этих манипуляций одновременно.
                </li>
                <li><strong>Annotate (Аннотация):</strong> Инструмент для рисования на 3D-окне, используемый для
                    добавления заметок или маркеров в сцену.
                </li>
                <li><strong>Measure (Измерить):</strong> Инструмент для измерения расстояний между объектами или
                    элементами сцены, что помогает в точной настройке размеров и позиций.
                </li>
                <li><strong>Add Cube (Добавить куб):</strong> Быстрое добавление примитива в сцену, в данном случае
                    куба, для дальнейшего моделирования. <strong>Примечание:</strong> Для добавления других объектов
                    можно использовать меню Shift + A.
                </li>
            </ul>
        </div>

        <div class="requirements-list">

            <h3 class="text-center mb-2">5. 3D Viewport в Blender</h3>

            <a href="{% static 'main/img/Viewport.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/Viewport.png' %}">
            </a>

            <p>
                3D Viewport в Blender — это основное рабочее окно для взаимодействия с 3D-сценой.
            </p>
            <div class="section">
                <h2>Основные области в 3D Viewport:</h2>
                <ul>
                    <li><strong>Графическое окно (3D-сцена):</strong> В центре находится пространство, где отображаются
                        все объекты сцены, такие как кубы, камеры, источники света и другие элементы. Это окно
                        предоставляет визуальный интерфейс для работы с 3D-объектами.
                    </li>
                    <li><strong>Куб по умолчанию:</strong> Когда вы создаете новый проект в Blender, в сцене появляется
                        куб, который является объектом по умолчанию. Он расположен в центре сцены, и его можно
                        редактировать, перемещать, вращать и масштабировать.
                    </li>
                    <li><strong>Сетки и оси (Grid and Axes):</strong> В 3D Viewport отображается сетка и оси
                        координат (XY, XZ, YZ), для ориентации в пространстве. Оси координат показывают
                        направления X, Y и Z в 3D-пространстве.
                    </li>
                    <li><strong>Обозначение активного объекта:</strong> Когда объект выбран, он подсвечивается
                        цветом (по умолчанию синий). Активный объект можно
                        перемещать, вращать или изменять.
                    </li>
                </ul>
            </div>
        </div>

        <div class="requirements-list">
            <h3 class="text-center mb-2">6. Toggle X-Ray и Viewport Shading</h3>

            <a href="{% static 'main/img/3DViewport_bar.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/3DViewport_bar.png' %}">
            </a>

            <div class="section">
                <h2>1. Toggle X-Ray</h2>
                <ul>
                    <li>Включает или выключает эффект X-ray (рентгеновский режим).
                        Когда активен X-ray, объекты становятся полупрозрачными, что позволяет видеть объекты,
                        расположенные за ними. Полезно при работе с сложными моделями.
                    </li>
                </ul>
            </div>

            <div class="section">
                <h2>2. Viewport Shading</h2>
                <ul>
                    <li>Панель `Viewport Shading` в правом верхнем углу 3D Viewport или
                        через горячую клавишу <code>Alt + Z</code>.
                        <ul>
                            <li><strong>Wireframe</strong> — Каркасный вид. Объекты отображаются как каркасные линии.</li>
                            <li><strong>Solid</strong> — Твёрдый вид. Объекты отображаются с базовыми материалами, без текстур.</li>
                            <li><strong>Material Preview</strong> — Предпросмотр материалов. Показ материалов и текстур как в рендере.</li>
                            <li><strong>Rendered</strong> — Рендерный вид. Визуализация сцены с рендерингом в реальном времени.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="requirements-list">
            <h3 class="text-center mb-2">7. N-panel / Right Sidebar</h3>

            <a href="{% static 'main/img/ViewportLeftBar.png' %}" data-lightbox="gallery">
                <img class="image2" src="{% static 'main/img/ViewportLeftBar.png' %}">
            </a>

            <p> Панель, которая расположена справа в главном экране 3D Viewport и предоставляет доступ к различным инструментам управления видом и навигацией, называется <code>N-panel (Properties Region)</code> или просто Right Sidebar.</p>

            <ul>
                <li><strong>Transform</strong> — изменяет позицию, вращение и масштаб объектов.</li>
                <li><strong>View</strong> — переключает виды (перспективный, от лица камеры, угол обзора).
                </li>
                <li><strong>Viewport Overlays</strong> — настраивает отображение сетки, осей и теней.
                </li>
                <li><strong>Viewport Shading</strong> — меняет стиль отображения объектов (каркас, твердый, материал,
                    рендеринг).
                </li>
                <li><strong>Clip</strong> — регулирует видимость объектов по расстоянию от камеры.
                </li>
            </ul>
        </div>

        <div class="requirements-list">
            <h3 class="text-center mb-2">8. Outliner</h3>

            <a href="{% static 'main/img/outliner.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/outliner.png' %}">
            </a>

            <p>Панель справа сверху, в которой отображаются объекты, свет и камера, называется <code>Outliner.</code></p>

            <p>Outliner предоставляет структуру сцены, отображая все объекты (модели, свет, камеры и другие элементы) в
                виде иерархического списка.</p>
            <p>Основные функции:</p>
            <ul>
                <li>Быстрое нахождение и выбор объектов.</li>
                <li>Скрытие или отображение объектов.</li>
                <li>Перемещение объектов по сцене.</li>
                <li>Управление видимостью или активностью объектов.</li>
                <li>Организация сцен, добавление или удаление объектов.</li>
            </ul>
        </div>

        <div class="requirements-list">
            <h3 class="text-center mb-2">9. Properties Panel (Панель свойств)</h3>
            <a href="{% static 'main/img/properties.png' %}" data-lightbox="gallery">
                <img class="image2" src="{% static 'main/img/properties.png' %}">
            </a>

            <div class="section">
                <p>Properties Panel предоставляет доступ к настройкам для выбранных объектов, сцены, материалов,
                    модификаторов, рендеринга и других элементов.</p>

                <h2>Вкладки Properties Panel:</h2>
                <ul>
                    <li><strong>Scene:</strong> Настройки сцены (гравитация, время и другие параметры).</li>
                    <li><strong>Object:</strong> Параметры выбранного объекта (позиция, вращение, масштаб).</li>
                    <li><strong>Modifiers:</strong> Модификаторы, применяемые к объектам (например, Subdivision
                        Surface).
                    </li>
                    <li><strong>Materials:</strong> Создание и настройка материалов для объектов.</li>
                    <li><strong>Render:</strong> Параметры рендеринга сцены (тип рендерера, разрешение и другие
                        параметры).
                    </li>
                    <li><strong>World:</strong> Настройки окружающей среды (освещение, фон).</li>
                </ul>

                <p>Properties Panel позволяет детально настроить каждый аспект сцены и объектов</p>
            </div>
        </div>

        <div class="requirements-list">
            <h3 class="text-center mb-2">10. Timeline (Временная шкала)</h3>
            <a href="{% static 'main/img/timeline.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/timeline.png' %}">
            </a>

            <div class="section">
                <h2>Описание</h2>
                <p><strong>Timeline (Таймлайн)</strong> — это панель для работы с анимацией.</p>

                <h3>Основные функции Timeline:</h3>
                <ul>
                    <li>Просмотр и управление временной шкалой анимации.</li>
                    <li>Добавление, редактирование и удаление ключевых кадров.</li>
                    <li>Управление воспроизведением анимации (воспроизведение, пауза).</li>
                    <li>Настройка диапазона кадров для анимации.</li>
                </ul>
            </div>
            <div class="text-center">
                <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
            </div>
        </div>
    </div>

{% endblock %}