{% extends 'main/layout.html' %}
{% load static %}



{% block title %}Навигация и работа с интерфейсом Blender{% endblock %}

{% block content %}
    <div class="container">
        <div class="requirements-list1">
            <h1 class="text-center mb-2">Навигация в 3D-пространстве Blender</h1>
        </div>

        <div class="requirements-list" id="3" data-type="lesson">

            <p>Blender — это мощная и бесплатная программа для трёхмерного моделирования, анимации и визуализации.
                Эффективная работа в Blender невозможна без уверенного владения навигацией в 3D-пространстве. Управление
                видом сцены осуществляется с помощью мыши, клавиатуры (в особенности — цифрового блока клавиш, нумпада),
                а также специальных элементов интерфейса.
            </p>

            <h2 class="text-center mb-2">Навигация с помощью цифрового блока клавиатуры (NumPad)</h2>
            <div class="section">
                <a href="{% static 'main/img/views.png' %}" data-lightbox="gallery">
                    <img class="image1" src="{% static 'main/img/views.png' %}">
                </a>
                <p>NumPad обеспечивает удобный доступ к различным видам и управлению:</p>
                <ul>
                    <li><code>1</code> — вид спереди (Front View).</li>
                    <li><code> Ctrl + 1</code> — вид сзади.</li>
                    <li><code>3</code> — вид справа (Right View).</li>
                    <li><code> Ctrl + 3</code> — вид слева.</li>
                    <li><code>7</code> — вид сверху (Top View).</li>
                    <li><code> Ctrl + 7</code> — вид снизу.</li>
                    <li><code>Ctrl + 1/3/7</code> — противоположные виды.</li>
                    <li><code>5</code> — переключение между перспективным и ортографическим видом.</li>
                    <li><code>0</code> — вид из камеры.</li>
                    <li><code>2/4/6/8</code> — вращение вокруг объекта по оси.</li>
                    <li><code>.</code> (точка) — центрирование вида на выделенном объекте.</li>
                </ul>
            </div>
        </div>

        <div class="requirements-list_last" data-type="lesson">
            <h2 class="text-center mb-2">Работа с окнами в Blender</h2>
            <p>Blender — это гибкий и настраиваемый инструмент, и одно из его главных преимуществ
                — возможность настраивать интерфейс под себя. Интерфейс состоит из множества окон
                (areas), каждое из которых выполняет определённую функцию: 3D Viewport, Timeline,
                Outliner, Shader Editor и др. Важно уметь открывать новые окна, разделять экран и
                управлять ими.</p>

            <a href="{% static 'main/img/3D-projection.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/3D-projection.png' %}">
            </a>

            <div class="section">
                <h3>1. Разделение экрана</h3>
                <p>Blender использует гибкую оконную систему, которая позволяет пользователю разделять рабочее
                    пространство на несколько окон, в которых могут быть отображены различные элементы интерфейса.
                    Каждый из этих окон может быть настроен в зависимости от текущей задачи, будь то 3D-просмотр,
                    текстурирование, моделирование или анимация.</p>

                <p>Чтобы разделить существующее окно интерфейса на два:</p>
                <ol>
                    <li>Наведите курсор на угол окна (в правом верхнем или левом нижнем углу). Угол обозначен треугольником.</li>
                    <li>Когда курсор изменится на крестик со стрелками, нажмите ЛКМ и потяните вбок или вниз — в зависимости от желаемого направления разделения.</li>
                    <li>Таким образом вы создадите два независимых окна, каждое из которых может отображать свою область (например, в одном — 3D Viewport, в другом — Shader Editor, или в каждом окне поменять виды)</li>
                </ol>

                <h3>2. Изменение типа окна</h3>
                <p>После разделения экранов каждое окно можно настроить на отображение любого редактора:</p>
                <ol>
                    <li>Нажмите на иконку типа окна в левом верхнем углу окна (например, иконка 3D куба для 3D Viewport).</li>
                    <li>Выберите нужный редактор из списка: Shader Editor, UV Editor, Timeline, Outliner, Text Editor и другие.</li>
                </ol>

                <h3>3. Объединение окон</h3>
                <p>Чтобы объединить два окна обратно в одно:</p>
                <ol>
                    <li>Наведите курсор на границу между двумя окнами.</li>
                    <li>Убедитесь, что оба окна находятся рядом и одного размера по направлению объединения.</li>
                    <li>Перетащите угол одного окна в сторону другого (при этом стрелка указывает, какое окно останется).</li>
                    <li>Отпустите ЛКМ — окна объединятся.</li>
                </ol>
            </div>

            <a href="{% static 'main/img/twowindow.png' %}" data-lightbox="gallery">
                <img class="image1" src="{% static 'main/img/twowindow.png' %}">
            </a>
            <div class="text-center">
                <button id="markLessonComplete" class="btn btn-success">Урок пройден</button>
                <div id="lessonMessage" style="margin-top: 10px; color: lightgreen;"></div>
            </div>
        </div>
    </div>
{% endblock %}